<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <th:block th:fragment="container-product-content-info">
    <div class="page1">
      <div id="overflow" class="overflow">
        <div id="tabCont1" class="text-div inp-text tab-cont"></div>
        <div class="sect">
          <div class="image">
            <!-- 상세 이미지 -->
            <div
              class="image-div"
              th:utext="${ dto.itemInfo }"
              style="text-align: center"
            >
              상품정보
            </div>
          </div>
        </div>
      </div>
      <div class="btn-bottom">
        <a href="javascript:pageOpenClose()" class="btn-expand"
          ><span class="btn-bottom-open1">펼쳐보기</span>
          <span class="btn-bottom-close1">접어보기</span>
          <img
            src="https://sohonara.mysoho.com/assets/shop/img/common/arr_h8_bottom_black.png"
            alt=""
            class="btn-bottom-open2" />
          <img
            src="https://sohonara.mysoho.com/assets/shop/img/common/arr_h8_top_black.png"
            alt=""
            class="btn-bottom-close2"
        /></a>
        <a th:href="|/enlarge/content/${dto.itemNo}|" class="btn-ViewOriginal">
          원본보기
          <img
            src="https://sohonara.mysoho.com/assets/shop/img/btn/h15_plus.png"
            alt=""
        /></a>
      </div>
    </div>
  </th:block>
</html>
