<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="container-product-content-review">
    <div class="page2">
        <div id="reviewTab" class="tab-cont">
            <div class="estimate-wrap">
                <div class="estimate-point">
                    <div class="stars js-reviewGradeAvgStar">
                        <!-- 별점 -->
                        <!--테스트1-->
                        <div class="reviewStarRating">
                            <div class="rating1" th:value="${avgStar}" value="3.9">
                                <div class="star-wrap1"><div class="star1"><i  ><img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png" alt="" height="27px" width="27px"></i></div></div>
                                <div class="star-wrap1"><div class="star1"><i  ><img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png" alt="" height="27px" width="27px"></i></div></div>
                                <div class="star-wrap1"><div class="star1"><i  ><img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png" alt="" height="27px" width="27px"></i></div></div>
                                <div class="star-wrap1"><div class="star1"><i  ><img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png" alt="" height="27px" width="27px"></i></div></div>
                                <div class="star-wrap1"><div class="star1"><i  ><img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png" alt="" height="27px" width="27px"></i></div></div>
                            </div>
                            <div class="rating2" >
                                <div class="star-wrap2"><div class="star2"><i  ><img  src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png" alt="" height="27px" width="27px"></i></div></div>
                                <div class="star-wrap2"><div class="star2"><i  ><img  src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png" alt="" height="27px" width="27px"></i></div></div>
                                <div class="star-wrap2"><div class="star2"><i  ><img  src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png" alt="" height="27px" width="27px"></i></div></div>
                                <div class="star-wrap2"><div class="star2"><i  ><img  src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png" alt="" height="27px" width="27px"></i></div></div>
                                <div class="star-wrap2"><div class="star2"><i  ><img  src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png" alt="" height="27px" width="27px"></i></div></div>
                            </div>
                        </div>
                        <!--  -->
                        <!--  -->
                        <!--  -->
                        <script>
                var rating1 = $('.rating1');

                rating1.each(function(){
                  var $this = $(this);
                    var targetScore = $this.attr('value');
                    var firstDigit = targetScore.split('.');
                    console.log(firstDigit);
                      if(firstDigit.length>1){
                        for(var i=0; i<firstDigit[0]; i++){
                          $this.find('.star1').eq(i).css({width:'100%'});
                        }
                        $this.find('.star1').eq(firstDigit[0]).css({width:firstDigit[1]+'0%'});
                      }else{
                        for(var i=0; i<targetScore; i++){
                          $this.find('.star1').eq(i).css({width:'100%'});
                        }
                      }
                });

              </script>
                        <!--  -->
                        <script>
      // JAVASCRIPT CODE
      const drawStar
       = (target) => {
        document.querySelector(`.star span`).style.width = `${
          target.value * 10
        }%`;
      };



<!--      checkbox-->

  $(document).ready(function() {
  const checkbox = $('#reviewList');
  const reviewImg = $('#reviewImg');
  const wrapReview = $('#wrapReview');

  reviewImg.hide();
  wrapReview.show();

  checkbox.change(function() {
    if($(this).is(':checked')) {
      reviewImg.show();
      wrapReview.hide();
    } else {
      reviewImg.hide();
      wrapReview.show();
    }
  });
});
      </script>
                    </div>
                    <!-- 점수 -->
                    <div class="point js-reviewGradeAvg" th:text="${avgStar}" >0.0</div>
                </div>
                <div class="reviewCount">
                    <strong th:text="${ listCount }">전체 리뷰 수</strong>
                    <strong >개의 리뷰가 있습니다</strong>
                </div>
            </div>
            <!-- 구분선 빈박스 -->
            <div class="bg-blank"></div>
            <!-- 사진 후기 모아보기 -->
            <div class="review_list_detail photo_review">
                <div class="photo_check">
                    <input id="reviewList" type="checkbox" />
                    <span>사진 후기 모아보기(</span>
                    <span th:text="${listImgCount}" >0</span>
                    <span>)</span>
                </div>
                <div class="review-wrap gallary-list js-reviews">
                    <div class="txt-detail non js-reviewsEmpty">
                        <!--       사진 리뷰  -->
                        <div id="reviewImg">
                            <div class="main">
                                <div class="reviewBox">
                                    <div class="item" th:each="dto,status:${ listImg }">
                                        <div class="gradeWrap">
                                            <div class=" grade">
                                                <strong>평점</strong>
                                                <th:block th:switch="${ dto.reviewStar }" value="">
                                                    <span th:case="1" class="gradeStar"><img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png"></span>
                                                    <span th:case="2">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                        </span>
                                                    <span th:case="3" class="gradeStar">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                        </span>
                                                    <span th:case="4" class="gradeStar">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                        </span>
                                                    <span th:case="5" class="gradeStar">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                        </span>
                                                </th:block>
                                            </div>

                                        </div>
                                        <div class="reviewContentWrap">
                                            <div th:if="${ dto.reviewImgUrl } != ''" >
                                                <img class="reviewImg" th:src="${ dto.reviewImgUrl }" >
                                            </div>
                                            <div th:text="${ dto.reviewContent }" class="reviewContent">
                                                내용
                                            </div>
                                        </div>
                                        <div class=" reviewInfo" >
                                            <div class="date" style="border-right: 1px solid #d6d6d6" th:text="${photoReviewIdList[status.index]}">
                                                작성자박선교
                                            </div>
                                            <div class="date" th:text="${#temporals.format(dto.reviewDatetime, 'yyyy-MM-dd HH:mm')}">
                                                등록일
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>          <!--      사진리뷰 끝 -->
                        <div id="wrapReview"> <!--      전체리뷰 -->
                            <div class="main">
                                <div class="reviewBox">

                                    <!--                             작업중 -->
                                    <div class="item" th:each="dto, status:${ list }">

                                        <div class="gradeWrap">
                                            <div class=" grade">
                                                <strong>평점</strong>
                                                <th:block th:switch="${ dto.reviewStar }" value="">
                                                    <span th:case="1" class="gradeStar"><img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png"></span>
                                                    <span th:case="2">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                        </span>
                                                    <span th:case="3" class="gradeStar">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                        </span>
                                                    <span th:case="4" class="gradeStar">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                        </span>
                                                    <span th:case="5" class="gradeStar">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                          <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/review_big_star_on.png">
                                        </span>
                                                </th:block>
                                            </div>

                                        </div>
                                        <div class="reviewContentWrap">
                                            <div th:if="${ dto.reviewImgUrl } != ''" >
                                                <img class="reviewImg" th:src="${ dto.reviewImgUrl }" >
                                            </div>
                                            <div th:text="${ dto.reviewContent }" class="reviewContent">
                                                내용
                                            </div>
                                        </div>
                                        <div class=" reviewInfo" >
                                            <div class="date" style="border-right: 1px solid #d6d6d6" th:text="${reviewIdList[status.index]}">
                                                작성자박선교
                                            </div>
                                            <div class="date" th:text="${#temporals.format(dto.reviewDatetime, 'yyyy-MM-dd HH:mm')}">
                                                등록일
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>    <!--      전체리뷰 끝 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>