<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>마이소호 샘플샵</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/login.css" />
  <link rel="stylesheet" href="/css/myorder-list-user.css" />
  <style>
      .container-qna-user {
        padding-bottom: 100px;
        min-height: 550px;
      }

      .threedot {
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  right: 0;
    top: 20px;
}
.threedot img {
  width: 3px;
}
#box{
  display:none;
}
.hiddenBtn {
    text-align: center;
    right: 20px;
    top: 50px;
    display: none;
    width: 50px;
    padding: 0 5px;
    position: absolute;
    z-index: 100;
    background: #ffffff;
    box-shadow: 0px 1px 1.68px 1.82px rgb(0 0 0 / 15%);
    border-radius: 5px;
    font-size: 14px;
}
.hiddenBtn li {
    padding: 5px;
    border-bottom: 1px solid #edeff2;
}
.list{
position: relative;
}
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<div class="wrap">
  <div class="betweenbtn">
    <div th:replace="/fragments/betweenbtn.html :: fragment-betweenbtn"></div>
  </div>
  <div class="betweenbtn2">
    <div th:replace="/fragments/betweenbtn2.html :: fragment-betweenbtn2"></div>
  </div>
  <div class="header">
    <div th:replace="/fragments/header.html :: fragment-header"></div>
  </div>
  <!-- 나의 상품문의 -->
  <div class="container-qna-user">
    <div class="users-title-line-hd-wrap">
      <div  class="users-title-line-hd" >
        <div>내가 작성한 리뷰</div>
      </div>
    </div>
<!--    -->

    <th:block th:each="review,status :${ list }">
    <div class="order_list">
          <div class="list">
            <a th:href="|/product/${review.itemNo}|">
              <img   th:src="${ itemUrl[status.index] }" alt="" />
            </a>
            <div class="info">
              <th:block th:if="${review.reviewImgUrl == null} or ${review.reviewImgUrl == ''}">
                <div class="label type1" >
                  일반후기
                </div>
              </th:block>
              <th:block th:unless="${review.reviewImgUrl == null} or ${review.reviewImgUrl == ''}">
                <div class="label type1" >
                  사진후기
                </div>
              </th:block>
              <div class="name" th:text="${ itemName[status.index] }">
                퍼프 블라우스 퍼플
              </div>
              <div class="price" th:text="${review.reviewContent}" >
                리뷰내용
              </div>
              <div>
              <span class="option" th:if="${review.reviewStar}==5">★★★★★</span>
              <span class="option" th:if="${review.reviewStar}==4">★★★★</span>
              <span class="option" th:if="${review.reviewStar}==3">★★★</span>
              <span class="option" th:if="${review.reviewStar}==2">★★</span>
              <span class="option" th:if="${review.reviewStar}==1">★</span>

                <span class="od-date" th:text="| / ${#temporals.format(review.reviewDatetime, 'yyyy-MM-dd HH:mm')}|">
                2023-01-06 08:35:59
              </span>
              </div>
            </div>


            <a th:href="|javascript:threedot(${status.index})|" class="threedot" style="width: 40px;"><img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_review_md.png" alt=""></a>
            <ul th:id="|hiddenBtn${status.index}|" class="hiddenBtn">
              <li><a th:href="@{modify(reviewNo=${review.reviewNo})}">수정</a></li>
              <li><a th:href="@{delete(reviewNo=${review.reviewNo})}">삭제</a></li>
            </ul>
          </div>
    </div>

      </th:block>
    <!-- 구분선 -->
    <div class="bg-blank"></div>
    </div>

  </div>


  </div>
  <!-- 푸터 -->
  <div class="footer">
    <div th:replace="/fragments/footer.html :: fragment-footer"></div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"
></script>
<script src="/js/header.js"></script>
<script src="/js/footer.js"></script>
<script>
      function openQnAwrite() {
        popup = window.open("/popup/qna-write");
      }
      function popupAction(index) {
        let popup = document.querySelector("#writing-action" + index);
        if (popup.style.visibility == "visible") {
          popup.style.visibility = "hidden";
        } else {
          popup.style.visibility = "visible";
        }
      }
      function checkDelete(index) {
          let form =  document.querySelector("#deleteForm" + index);
          console.log(form);
          if (confirm("상품문의를 삭제하시겠습니까?")) {
            form.submit();
          } else {
            return;
          }
      }

      function threedot(n) {
  if (document.querySelector("#hiddenBtn"+n).style.display === "block") {
    document.querySelector("#hiddenBtn"+n).style.display = "none";
  } else {
    document.querySelector("#hiddenBtn"+n).style.display = "block";
  }
}
    </script>
</body>
</html>
