<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이소호 샘플샵</title>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

<div class="betweenbtn">

    <div th:replace="/fragments/betweenbtn.html :: fragment-betweenbtn"></div>

</div>

<div class="header">

    <div th:replace="/fragments/header.html :: fragment-header"></div>

</div>

<div class="containerlogin">

    <div class="users-title-line-hd">

        <h2>비밀번호 변경</h2>

    </div>

    <form  method="post" action="/find/passwordAction">

        <input type="hidden" name="getEmail" th:value="${getEmail}">

        <input class="input-st01 users-login-input"
               type="password"
               name="password"
               value=""
               placeholder="새비밀번호 입력"
               onchange="checkUserinfo('pw', this.value)"
        />

        <input id="check-txt-pwcheck"
               class="input-st01 users-login-input mt-10"
               type="password"
               name="pwcheck"
               value=""
               placeholder="비밀번호 확인하기"
               onBlur="checkPW(this.value)"
               onchange="checkTxt('pw', this.value)"
        />
        <div class="blue check-txt check-txt-pwcheck-same">
            비밀번호가 일치합니다.
        </div>
        <div class="red check-txt check-txt-pwcheck-not">
            비밀번호가 일치하지 않습니다.
        </div>

        <button type="submit" id="login" class="btn-h42-gray mt-10">변경하기</button>

    </form>



    <div class="footer">

        <div th:replace="/fragments/footer.html :: fragment-footer"></div>

    </div>

</div>

<script src="/js/header.js"></script>

<script src="/js/footer.js"></script>
<script>
    function checkPW(val) {
        // 비밀번호 확인
        if (val === document.querySelector("#check-txt-pw").value) {
          document.querySelector(".check-txt-pwcheck-same").style.display =
            "block";
          document.querySelector(".check-txt-pwcheck-not").style.display =
            "none";
        } else {
          document.querySelector(".check-txt-pwcheck-same").style.display =
            "none";
          document.querySelector(".check-txt-pwcheck-not").style.display =
            "block";
        }
      }
      function checkUserinfo(type, val) {
        let mode = "";

        var ckeckId = /^[a-zA-z0-9]{4,12}$/; //아이디 유효성 검사
        var ckeckPW = /(?=.*[0-9])(?=.*[a-z])(?=.*\W)(?=\S+$).{8,20}/; //비밀번호 유효성 검사
        var ckeckName = /^[가-힣]{2,5}$/; //이름 유효성 검사
        var ckeckEmail = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+$/; //이메일 유효성 검사
        var ckeckPhone = /^[0-9]{10,11}$/; //이메일 유효성 검사
        if
        (type === "id") {
          mode = ckeckId;
        } else
        if (type === "pw") {
          mode = ckeckPW;
        }
        else if (type === "name") {
          mode = ckeckName;
        } else if (type === "email") {
          mode = ckeckEmail;
        } else if (type === "phone") {
          mode = ckeckPhone;
        }

        if (!mode.test(val)) {
          document.querySelector(".check-txt-" + type).style.display = "none";
          document.querySelector(".check-txt-" + type + "2").style.display =
            "block";
          document.querySelector(".check-txt-" + type + "3").style.display =
            "none";
          document.querySelector(".input-" + type).focus();
        } else {
          document.querySelector(".check-txt-" + type).style.display = "none";
          document.querySelector(".check-txt-" + type + "2").style.display =
            "none";
          document.querySelector(".check-txt-" + type + "3").style.display =
            "block";
        }
      }
</script>

</body>

</html>