<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이소호 샘플샵</title>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/userjoin.css" />
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

<div class="betweenbtn">
    <div th:replace="/fragments/betweenbtn.html :: fragment-betweenbtn"></div>
</div>
<div class="betweenbtn2">
    <div th:replace="/fragments/betweenbtn2.html :: fragment-betweenbtn2"></div>
</div>

<div class="header">

<!--    <div th:replace="/fragments/header.html :: fragment-header"></div>-->

</div>

<div class="containerlogin">

    <div class="users-title-line-hd">

        <h2>비밀번호 변경</h2>

    </div>
    <form  method="post" action="/find/passwordAction">

        <input type="hidden" name="getEmail" th:value="${getEmail}">

        <input id="check-txt-pw"
               class="input-st01 users-login-input mt-10"
               type="password" name="password"
               placeholder="새비밀번호 (영문,숫자,특수문자 조합 8자리 이상)"
               value="" />
<!--               onchange="checkUserinfo('pw', this.value)"-->
        <div class="red check-txt check-txt-pw">올바른 비밀번호 형식이 아닙니다.</div>
        <div class="red check-txt check-txt-pw2">올바른 비밀번호 형식이 아닙니다.</div>
        <div class="blue check-txt check-txt-pw3">사용가능한 비밀번호 입니다.</div>

        <input id="check-txt-pwcheck"
               class="input-st01 users-login-input mt-10"
               type="password"
               name="pwcheck"
               placeholder="비밀번호 재입력"
               value="" />
        <div class="blue check-txt check-txt-pwcheck-same">비밀번호가 일치합니다.</div>
        <div class="red check-txt check-txt-pwcheck-not">비밀번호가 일치하지 않습니다.</div>

        <button type="submit" id="login" class="btn-h42-gray mt-10">변경하기</button>

    </form>



    <div class="footer">

<!--        <div th:replace="/fragments/footer.html :: fragment-footer"></div>-->

    </div>

</div>

<script src="/js/header.js"></script>

<script src="/js/footer.js"></script>
<script>
    //공백체크

      var checkPW = /(?=.*[0-9])(?=.*[a-z])(?=.*\W)(?=\S+$).{8,20}/; //비밀번호 유효성 검사
      var pw = document.querySelector("#check-txt-pw");
      pw.addEventListener("keyup", function () {
        console.log(pw.value);
        if (checkPW.test(pw.value)) {
          document.querySelector(".check-txt-pw2").style.display = "none";
          document.querySelector(".check-txt-pw3").style.display = "block";
        } else {
          document.querySelector(".check-txt-pw2").style.display = "block";
          document.querySelector(".check-txt-pw3").style.display = "none";
        }
      });

      var pw = document.getElementById("check-txt-pw");
      var pwcheck = document.getElementById("check-txt-pwcheck");
      pwcheck.addEventListener("keyup", function () {
        console.log(pw.value);
        console.log(pwcheck.value);
        if (pw.value === pwcheck.value) {
          document.querySelector(".check-txt-pwcheck-same").style.display = "block";
          document.querySelector(".check-txt-pwcheck-not").style.display = "none";
        } else {
          document.querySelector(".check-txt-pwcheck-same").style.display = "none";
          document.querySelector(".check-txt-pwcheck-not").style.display = "block";
        }
      });
</script>

</body>

</html>