<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>메인화면</title>
</head>
<body>
  <h3>메인화면</h3>

  로그인여부(isAuthenticated()) : <span sec:authorize="isAuthenticated()"> 인증후 - 로그인상태 </span><br>
  로그인여부(isAnonymous()) : <span sec:authorize="isAnonymous()"> 인증전 - 로그아웃상태 </span><br>
  <hr>

  권한/역할(hasRole('USER')) : <span sec:authorize="hasRole('USER')">일반회원입니다.</span><br>
  권한/역할(hasRole('ADMIN')) :
  <span sec:authorize="hasRole('ADMIN')">
  <span>관리자입니다.</span>
  <a th:href="@{/admin}"><button type="button">회원목록보기</button></a>
</span>
  <hr>

  <th:block sec:authorize="isAnonymous()">
    <a th:href="@{/user/login}"><button type="button">로그인</button></a>
  </th:block>
  <th:block sec:authorize="isAuthenticated()">
    <a th:href="@{/user/logout}"><button type="button">로그아웃</button></a>
  </th:block>




<!--  <p th:if="${session.isLogin == true}"-->
<!--     th:utext="|로그인 상태입니다. <br> 회원이름: ${session.user_name}|">로그인 상태입니다.</p>-->
<!--  <p th:if="${session.isLogin == null}"-->
<!--     th:text="|로그아웃 상태입니다.|">로그아웃 상태입니다.</p>-->
<!--  <br><br>-->
<!--  <th:block th:if="${session.user_role == '일반'}">-->
<!--    <span>일반회원입니다.</span>-->
<!--  </th:block>-->
<!--  <th:block th:if="${session.user_role == '관리자'}">-->
<!--    <span>관리자입니다.</span> &nbsp;-->
<!--    <button type="button" onclick="location.href='/admin'"> 회원목록보기</button>-->
<!--  </th:block>-->
<!--  <br><br>-->
<!--  <th:block th:if="${session.isLogin == true}">-->
<!--    <button type="button" onclick="location.href='/user/logout'">로그아웃</button>-->
<!--  </th:block>-->
<!--  <th:block th:if="${session.isLogin == null}">-->
<!--    <button type="button" onclick="location.href='/user/login'">로그인</button>-->
<!--  </th:block>-->

</body>
</html>