<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="container-product-content-summary">
    <div class="order-terms">
        <div class="inner">
            <div class="price-box">
                <div class="between">
                    <div class="price-tit">총 상품금액</div>
                    <div>
                        <strong
                                class="price-tit-price"
                                id="finalTotalPrice"
                                data-th-text="${#numbers.formatInteger(dto.itemPrice, 3, 'COMMA')}+원"
                        >49,000원</strong
                        >
                        <th:block th:if="${dto.itemDiscountRate} != 0">
                            <input type="hidden" name="orderTotalPrice" id="finalTotalPriceInput" th:value="${ dto.itemDiscountPrice }" >
                        </th:block>
                        <th:block th:unless="${dto.itemDiscountRate} != 0">
                            <input type="hidden" name="orderTotalPrice" id="finalTotalPriceInput" th:value="${ dto.itemPrice }" >
                        </th:block>

                        <input type="hidden" name="orderTotalCount" id="orderTotalCount" value="1" >
                        <input type="hidden" name="itemCodeList" th:value="${ dto.itemNo }" />
                        <!--                          -->
                        <th:block th:if="${ sizeCount == 1} and ${ colorCount == 1}">
                            <input th:value="${ dto.itemOptionColor }" type="hidden" name="colorList" id="final-color-result">
                            <input th:value="${ dto.itemOptionSize }" type="hidden" name="sizeList" id="final-size-result">
                        </th:block>
                        <th:block th:unless="${ sizeCount == 1} and ${ colorCount == 1}">
                            <input type="hidden" name="colorList" id="final-color-result" >
                            <input type="hidden" name="sizeList" id="final-size-result" >
                        </th:block>
                    </div>
                </div>
                <div>
                    <div class="between mt-10 mb-6">
                        <div class="price-tit">총 배송비</div>
                        <div class="price-tit-price bold">+ 0원</div>
                    </div>
                    <div class="between h23">
                        <div class="price-text">- 기본 배송비</div>
                        <div class="price-text-price">
                            <span class="gray">(+)</span>0원
                        </div>
                    </div>
                    <div class="between h23">
                        <div class="price-text">- 지역 배송비</div>
                        <div class="price-text-price">
                            <span class="gray">(+)</span>0원
                        </div>
                    </div>
                </div>
                <div>
                    <div class="between mt-10 mb-6">
                        <div class="price-tit">총 할인/적립금 사용 금액</div>
                        <th:block th:if="${dto.itemDiscountRate} != 0">
                            <div
                                    class="price-tit-price bold"
                                    id="discountPrice"
                                    data-th-text="'- '+${#numbers.formatInteger(dto.itemPrice-dto.itemDiscountPrice, 3, 'COMMA')}+원"
                            >
                                - 4,500원
                            </div>
                        </th:block>
                        <th:block th:unless="${dto.itemDiscountRate} != 0">
                            <div class="price-tit-price bold">- 0원</div>
                        </th:block>
                    </div>
                    <div class="between h23">
                        <div class="price-text">- 상품 할인</div>
                        <div class="price-text-price">
                            <th:block th:if="${dto.itemDiscountRate} != 0">
                              <span class="gray">(-)</span
                              ><span
                                    id="discountPrice2"
                                    data-th-text="${#numbers.formatInteger(dto.itemPrice-dto.itemDiscountPrice, 3, 'COMMA')}+원"
                            >4,500원</span
                            >
                            </th:block>
                            <th:block th:unless="${dto.itemDiscountRate} != 0">
                                <span class="gray">(-)</span>0원
                            </th:block>
                        </div>
                    </div>
                    <div class="between h23">
                        <div class="price-text">- 쿠폰 할인</div>
                        <div class="price-text-price">
                            <span class="gray">(-)</span>0원
                        </div>
                    </div>
                    <div class="between h23">
                        <div class="price-text">- 적립금 사용</div>
                        <div class="price-text-price">
                            <span class="gray">(-)</span>0원
                        </div>
                    </div>
                </div>
            </div>
            <div class="pay-price">
                <div class="between">
                    <div>
                        <strong>최종 주문금액</strong>
                    </div>
                    <div>
                        <th:block th:if="${dto.itemDiscountRate} != 0">
                            <strong
                                    class="red2"
                                    id="finalPrice"
                                    data-th-text="${#numbers.formatInteger(dto.itemDiscountPrice, 3, 'COMMA')}+'원'"
                            >44,500원</strong
                            >
                        </th:block>
                        <th:block th:unless="${dto.itemDiscountRate} != 0">
                            <strong
                                    class="red2"
                                    id="finalPrice"
                                    data-th-text="${#numbers.formatInteger(dto.itemPrice, 3, 'COMMA')}+'원'"
                            >44,500원</strong
                            >
                        </th:block>
                    </div>
                </div>
                <div class="left blue">
                        <span sec:authorize="isAnonymous()">
                            <strong
                            >(예상 적립금 <span>0</span>원, 비회원적립
                          불가)</strong
                            >

                            <input
                                    type="hidden"
                                    id="prd_mileage_total"
                            />
                            <input
                                    type="hidden"
                                    name="mileage"
                                    id="memberMileage"
                            />
                        </span>
                        <!--마일리지(적립금)-->
                        <span sec:authorize="isAuthenticated()" >
                            <th:block th:if="${member.memberRate} == 'VIP'">
                                <th:block th:if="${dto.itemDiscountRate} != 0">
                                    <strong>(예상 적립금 <span id="prd_mileage_total" data-th-text="${#numbers.formatInteger((dto.itemDiscountPrice/100)*5, 3, 'COMMA')}">0</span>원)</strong>
                                    <input
                                            type="hidden"
                                            name="mileage"
                                            id="memberMileage"
                                    />
                                </th:block>
                                <th:block th:unless="${dto.itemDiscountRate} != 0">
                                    <strong>(예상 적립금 <span id="prd_mileage_total" data-th-text="${#numbers.formatInteger((dto.itemPrice/100)*5, 3, 'COMMA')}">0</span>원)</strong>
                                    <input
                                            type="hidden"
                                            name="mileage"
                                            id="memberMileage"
                                    />
                                </th:block>
                            </th:block>
                            <th:block th:unless="${member.memberRate} == 'VIP'">
                                <th:block th:if="${dto.itemDiscountRate} != 0">
                                    <strong>(예상 적립금 <span id="prd_mileage_total" data-th-text="${#numbers.formatInteger((dto.itemDiscountPrice/100)*2, 3, 'COMMA')}">0</span>원)</strong>
                                    <input
                                            type="hidden"
                                            name="mileage"
                                            id="memberMileage"
                                    />
                                </th:block>
                                <th:block th:unless="${dto.itemDiscountRate} != 0">
                                    <strong>(예상 적립금 <span id="prd_mileage_total" data-th-text="${#numbers.formatInteger((dto.itemPrice/100)*2, 3, 'COMMA')}">0</span>원)</strong>
                                    <input
                                            type="hidden"
                                            name="mileage"
                                            id="memberMileage"
                                    />
                                </th:block>
                            </th:block>
                        </span>
                    <input
                            type="hidden"
                            name="orderTotalPrice"
                            id="totalPriceInput"
                    />
                </div>
            </div>
            <th:block th:if="${dto.itemSoldOut} != '품절'">
                <button
                        type="button"
                        class="js-btnOrder js-mo-tpl btn-h42-gray mt-25"
                        onclick="processBeforeSubmit()"
                >결제하기</button>
            </th:block>
            <th:block th:unless="${dto.itemSoldOut} != '품절'">
                <button
                        type="button"
                        class="js-btnOrder js-mo-tpl btn-h42-gray mt-25"
                >
                    품절</button
                >
            </th:block>
            <div class="warning-labels-font">
                <img
                        src="https://image.makeshop.co.kr/mysoho/assets/admin/images/common/m-notice-icon.png"
                        alt=""
                />
                마이소호는 통신판매 당사자가 아닙니다.
                <br />
                상품정보/주문/배송/환불 등 일체의 책임을 지지 않습니다.
            </div>
        </div>
    </div>
</th:block>
</html>