<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <title>마이소호 관리자페이지</title>
    <style>
        .txt_ellipsis {
            max-width: 700px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
            display:block;
            height: 100%;
            border: 0px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <div th:replace="/fragments/nav.html :: fragment-adminNav"></div>
        <div id="contentWrap" style="width:100%">
            <div class="contentHeader" style="width:100%">
                <div>공지사항관리</div>
                <div>
                    <a href="/" class="text-decoration-none">
                        <img class="logo" src="https://img.makeshop.co.kr/1/1371/201908/583f98cc6e004ec7b3ba880bf0eaf1c9.png" alt=""/>
                    </a>
                    <a href="javascript:logout();" type="button" class="btn btn-secondary">로그아웃</a>
                </div>
            </div>
        <div class="content" style="width:100%"> <!-- content 시작 -->
            <div class="contentWrap">

            <div class="container m-0"> <!-- 검색 시작 -->
                <form action="/admin/notice/list" method="GET" class="row align-items-center" >
                    <input type="hidden" name="page" value="0"> <!-- 페이지를 0으로 설정 -->
                    <table class="table table-bordered" >
                        <tr>
                            <th style="text-align: center;" class="table-light w250" table-light>공지유형</th>
                            <td>
                                <a href="/admin/notice/list?page=0" class="btn btn-outline-secondary">전체보기</a>  <!-- 전체보기 -->
                                <a href="/admin/notice/list?findBy=type&keyword=공지사항&page=0" class="btn btn-outline-secondary">공지사항</a> <!-- 공지사항 보기 -->
                                <a href="/admin/notice/list?findBy=type&keyword=이벤트&page=0" class="btn btn-outline-secondary">이벤트</a> <!-- 이벤트 보기 -->
                            </td>
                        </tr>
                        <input type="hidden" name="page" value="0">
                        <th style="text-align: center;" class="table-light w250 table-light">검색조건</th>
                        <td >
                            <div class="input-group ">
                                <select name="findBy" style="padding-left: 10px">
                                    <option value="title">제목</option>
                                    <option value="content">내용</option>
                                    <input name="keyword" class="form-control">
                                    <button type="submit" class="btn btn-secondary">검색</button>
                                </select>
                            </div>
                        </td>
                        </tr>
                    </table>
                </form>
            </div> <!-- 검색 끝 -->
            </div>


            <div class="contentWrap">
                <div class="count">
                    <div class="listCount" >
                        <span>전체 공지내역 : </span>
                        <strong th:text="${ listCount }">5</strong>
                    </div>
                    <button onclick="location.href='/admin/notice/write'" class="btn btn-secondary" >글쓰기</button>
                </div>
                <table  class="table table-bordered table-hover" style="text-align: center;" >
                    <thead class="thead-strong">
                        <tr>
                            <th class="table-light align-middle w50 ">번호</th>
                            <th class="table-light align-middle">제목</th>
                            <th class="table-light align-middle w200">작성일</th>
                            <th class="table-light align-middle w250">관리</th>
                        </tr>
                    </thead>

                <tr th:each="notice, status:${list}">
                    <td class="align-middle" th:text="${notice.noticeNo}">번호</td>
                    <td class="align-middle" >
                        <div class="txt_ellipsis" th:text="${notice.noticeTitle}">제목</div>
                    </td>
                    <td class="align-middle" th:text="${#temporals.format(notice.noticeDatetime, 'yyyy-MM-dd HH:mm')}">작성일</td>
                    <td class="align-middle">
                        <a th:href="|/admin/notice/content/${notice.noticeNo}|" class="btn btn-outline-secondary">상세정보</a>
                        <a th:href="|/admin/notice/deleteAction?noticeNo=${notice.noticeNo}|" class="btn btn-outline-danger">삭제</a>
                    </td>
                </tr>
            </table>  <!-- 목록 끝 -->


            </div>

            <div class="container"> <!-- 페이지 시작 -->
                <div th:if="${!list.isEmpty()}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!list.hasPrevious} ? 'disabled'"> <!-- 이전 버튼 시작 -->
                            <th:block th:if="${keyword}==null"> <!-- 분류, 검색을 하지 않고 페이지를 이동할 때 -->
                                <a class="page-link" style="color: #555; " th:href="|/admin/notice/list?page=${list.number-1}|">
                                    <span>이전</span>
                                </a>
                            </th:block>
                            <th:block th:unless="${keyword}==null"> <!-- 분류, 검색 후 페이지를 이동할 때 -->
                                <a class="page-link" style="color: #555; " th:href="|/admin/notice/list?page=${list.number-1}&findBy=${findBy}&keyword=${keyword}|">
                                    <span>이전</span>
                                </a>
                            </th:block>
                        </li> <!-- 이전 버튼 끝 -->
                        <li th:each="page: ${pageList}"
                            th:classappend="${page == list.number} ? 'active'"
                            class="page-item" > <!-- 숫자 페이지 버튼 시작 -->
                            <th:block th:if="${keyword}==null"> <!-- 분류, 검색을 하지 않고 페이지를 이동할 때 -->
                                <a th:text="${page+1}" style="color: #555; " class="page-link" th:href="|/admin/notice/list?page=${page}|"></a>
                            </th:block>
                            <th:block th:unless="${keyword}==null"> <!-- 분류, 검색 후 페이지를 이동할 때 -->
                                <a th:text="${page+1}" style="color: #555; " class="page-link"
                                   th:href="|/admin/notice/list?page=${page}&findBy=${findBy}&keyword=${keyword}|"></a>
                            </th:block>
                        </li> <!-- 숫자 페이지 버튼 끝 -->
                        <li class="page-item" th:classappend="${!list.hasNext} ? 'disabled'"> <!-- 다음 버튼 시작 -->
                            <th:block th:if="${keyword}==null"> <!-- 분류, 검색을 하지 않고 페이지를 이동할 때 -->
                                <a class="page-link" style="color: #555;" th:href="|/admin/notice/list?page=${list.number+1}|">
                                    <span>다음</span>
                                </a>
                            </th:block>
                            <th:block th:unless="${keyword}==null"> <!-- 분류, 검색 후 페이지를 이동할 때 -->
                                <a class="page-link" style="color: #555; " th:href="|/admin/notice/list?page=${list.number+1}&findBy=${findBy}&keyword=${keyword}|">
                                    <span>다음</span>
                                </a>
                            </th:block>
                        </li> <!-- 다음 버튼 끝 -->
                    </ul>
                </div>
            </div> <!-- 페이지 끝 -->

        </div> <!-- content 끝 -->
        </div>
    </div>
</body>
</html>