<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <th:block th:fragment="container-member-myorder-list1">
    <!--전체 tap-->
    <div class="list-type0">
      <div th:each="dto, status :${ orderList }" class="order_list">
        <th:block th:if="${dto.orderCode != null}">
          <div class="list-wrap">
            <div class="list-hd">
              <div>
                <div class="od-num" th:text="${ (dto.orderCode) }" name="orderCode">
                  2023010608355933
                </div>
                <div
                        class="od-date"
                        th:text="${#temporals.format(dto.orderDatetime, 'yyyy-MM-dd HH:mm')}"
                >
                  2023-01-06 08:35:59
                </div>
              </div>
              <button
                      class="btn-h30-black open-layer btn-order-layer"
                      th:id="${status.index}"
                      onclick="showOrderList(this.id)"
              >
                주문정보
              </button>
              <div th:id="|bg${status.index}|" class="bg">
                <div class="window">
                  <div class="popup">
                    <div class="lhd">
                      <div>주문번호</div>
                      <div th:text="${ (dto.orderCode) }" class="ord-num">
                        2023010608355933
                      </div>
                      <button
                              class="closeBtn"
                              th:id="${status.index}"
                              onclick="closeOrderList(this.id)"
                      >
                        <img
                                src="https://image.makeshop.co.kr/mysoho/assets/shop/img/btn/h30_close.png"
                                alt=""
                        />
                      </button>
                    </div>
                    <div class="lcont">
                      <div class="lcont-con">
                        <div class="lcont-tit">주문자 정보</div>
                        <div class="lcont-info">
                                <span th:text="|${ (dto.orderName) }, |"
                                >주문자명</span
                                >
                          <span th:text="${ (dto.orderPhone) }"
                          >주문자연락처</span
                          >
                        </div>
                      </div>
                      <div class="lcont-con">
                        <div class="lcont-tit">배송지 정보</div>
                        <div class="lcont-info">
                                <span
                                        th:text="|(${ (dto.orderRecipientAddrNumber) }) |"
                                >우편번호</span
                                >
                          <span
                                  th:text="|${ (dto.orderRecipientAddr1) }"
                                  |
                          >주소1</span
                          >
                          <span th:text="${ (dto.orderRecipientAddr1) }"
                          >주소2</span
                          >
                        </div>
                      </div>
                      <div class="lcont-con">
                        <div class="lcont-tit">결제정보</div>
                        <th:block
                                th:if="${dto.orderPayType} == '무통장입금'"
                        >
                          <div class="lcont-info">무통장</div>
                          <div class="lcont-info">
                            기업은행 0106-859-3030119
                          </div>
                          <div class="lcont-info">(예금주: 소호나라)</div>
                        </th:block>
                        <th:block
                                th:unless="${dto.orderPayType} == '무통장입금'"
                        >
                          <div class="lcont-info">휴대폰결제</div>
                        </th:block>
                      </div>
                      <!--                        0226 여기까지 함-->
                      <div class="lcont-con">
                        <div class="lcont-tit">결제금액</div>
                        <div class="between">
                          <div class="lcont-tit-sub">총 상품금액</div>
                          <div
                                  data-th-text="${#numbers.formatInteger(dto.orderItemOriginalPrice, 3, 'COMMA') + '원'}"
                                  class="lcont-info-sub"
                          >
                            - 4,500원
                          </div>
                        </div>
                        <div class="between">
                          <div class="lcont-tit-sub">총 배송비</div>
                          <div class="lcont-info-sub">+ 0원</div>
                        </div>
                        <div class="between">
                          <div class="lcont-tit-gray">- 기본 배송비</div>
                          <div class="lcont-info-gray">(+)0원</div>
                        </div>
                        <div class="between">
                          <div class="lcont-tit-gray">- 지역 배송비</div>
                          <div class="lcont-info-gray">(+)0원</div>
                        </div>
                        <div class="between">
                          <div class="lcont-tit-sub">
                            총 할인/적립금 사용 금액
                          </div>
                          <div
                                  data-th-text="'- ' + ${#numbers.formatInteger(dto.orderDiscountPrice, 3, 'COMMA') + '원'}"
                                  class="lcont-info-sub"
                          >
                            - 4,500원
                          </div>
                        </div>
                        <div class="between">
                          <div class="lcont-tit-gray">- 상품 할인</div>
                          <div
                                  data-th-text="'(-)' + ${#numbers.formatInteger(dto.orderDiscountPrice, 3, 'COMMA') + '원'}"
                                  class="lcont-info-gray"
                          >
                            (-)4,500원
                          </div>
                        </div>
                        <div class="between">
                          <div class="lcont-tit-gray">- 쿠폰</div>
                          <div class="lcont-info-gray">(-)0원</div>
                        </div>
                        <div class="between">
                          <div class="lcont-tit-gray">
                            - 프로모션 할인코드
                          </div>
                          <div class="lcont-info-gray">(-)0원</div>
                        </div>
                        <div class="between">
                          <div class="lcont-tit-gray">- 적립금 사용</div>
                          <div class="lcont-info-gray">(-)0원</div>
                        </div>

                        <div class="between final">
                          <div class="final-price-tit">최종 결제금액</div>
                          <div class="final-price">
                                  <span
                                          data-th-text="${#numbers.formatInteger(dto.orderItemPrice, 3, 'COMMA')}"
                                  >
                                  </span>
                            <span class="final-price-tit"> 원</span>
                          </div>
                        </div>
                      </div>
                      <div class="lcont-con">
                        <div class="lcont-tit">환불/재결제 금액</div>
                        <div class="between">
                          <div class="lcont-tit-sub">환불금액</div>
                          <div class="lcont-info-sub">- 0원</div>
                        </div>
                        <div class="between">
                          <div class="lcont-tit-sub">재결제금액</div>
                          <div class="lcont-info-sub">+ 0원</div>
                        </div>
                      </div>
                      <div></div>

                      <button
                              type="submit"
                              class="btn-h42-gray closeBtnStr"
                              th:id="${status.index}"
                              onclick="closeOrderList(this.id)"
                      >
                        닫기
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <th:block th:each="cartList:${ cartListModel }">
            <div
                    class="list"
                    th:each="cart:${ cartList }"
                    th:if="${cart.orderCode == dto.orderCode}"
            >
              <a th:href="|/product/${cart.itemCode}|">
                <img th:src="${ cart.itemImageUrl }" alt="" />
              </a>
              <div class="info">
                <th:block th:if="${ dto.orderState } == '취소/반품/교환'">
                  <div class="label type1" th:text="${ dto.orderState }" style="width: 90px">
                    결제대기
                  </div>
                </th:block>
                <th:block th:unless="${ dto.orderState } == '취소/반품/교환'">
                  <div class="label type1" th:text="${ dto.orderState }">
                    결제대기
                  </div>
                </th:block>


                <div class="name" th:text="${ cart.itemName }">
                  퍼프 블라우스 퍼플
                </div>
                <div
                        class="price"
                        data-th-text="${#numbers.formatInteger(cart.cartItemPrice, 3, 'COMMA') + '원'}"
                >
                  44,500원
                </div>
                <div
                        class="option"
                        th:text="|/ ${ cart.cartItemAmount }개|"
                >
                  / 1개
                </div>
              </div>
              <!--                임시-->
              <th:bolck th:if="${dto.orderState} == '배송완료'" >
                <a
                        style="width: 75px;"
                        class="absoluteBtn"
                        th:href="@{writeForm(itemCode=${ cart.itemCode })}"
                >
                  후기작성
                </a>
                <div th:text="${orderCode}"></div>
              </th:bolck>
<!--              후기가 있을때 수정창-->
<!--              and orderCode=${review.orderCode}-->
<!--              <th:bolck th:if="${dto.orderState} == '배송완료'  and ${orderCode}==${review.orderCode} " >-->
<!--                <a-->
<!--                        style="width: 75px;"-->
<!--                        class="absoluteBtn"-->
<!--                        th:href="@{writeForm(itemCode=${ cart.itemCode })}"-->
<!--                >-->
<!--                  후기수정-->
<!--                </a>-->
<!--              </th:bolck>-->
              <!-- 구분선 -->
            </div>
          </th:block>
          <div class="bg-blank"></div>
        </th:block>
      </div>
    </div>
  </th:block>
</html>
