<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이소호 샘플샵</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/option-popup.css" />
    <link rel="stylesheet" href="/css/share-btn.css" />
    <link rel="stylesheet" href="/css/product.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <div class="wrap">
      <div class="betweenbtn">
        <div th:replace="/fragments/betweenbtn.html :: fragment-betweenbtn"></div>
      </div>
      <div class="betweenbtn2">
        <div th:replace="/fragments/betweenbtn2.html :: fragment-betweenbtn2"></div>
      </div>
      <div class="header-wrap">
        <div class="header">
          <div th:replace="/fragments/header.html :: fragment-header"></div>
        </div>
        <div class="navbar">
          <ul>
            <li><a href="/plan/item/SALE">♡ NURIRI SALE ♡</a></li>
            <li><a href="/plan/item/TOP">TOP</a></li>
            <li><a href="/plan/item/BOTTOM">BOTTOM</a></li>
            <li><a href="/plan/item/ONE-PIECE">ONE-PIECE</a></li>
            <li><a href="/plan/item/ACC" id="acc">ACC</a></li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div>
        <!--content header-->
        <div th:replace="/user/product-object/container-product-content-header.html :: container-product-content-header"></div>
        <!--  content -->
        <div class="pop-page odr-detail">
          <div th:replace="/user/product-object/container-product-content-nav.html :: container-product-content-nav"></div>

          <div class="txt-detail">
            <div class="buyBtn-hidden">
              <button type="button" onclick="processBeforeSubmit()" class="js-mo-tpl btn-h42-gray mt-25" id="buyBtn">결제하기</button>
              <div th:replace="/user/product-object/container-product-content-info.html :: container-product-content-info"></div>
              <!-- 후기 내용 (display none) -->
              <div th:replace="/user/product-object/container-product-content-review.html :: container-product-content-review"></div>
              <!-- 문의 내용 (display none) -->
              <div th:replace="/user/product-object/container-product-content-inquiry.html :: container-product-content-inquiry"></div>
              <form name="orderForm" action="/order/payAction" method="POST">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <!-- 주문자 정보 -->
                <div th:replace="/user/order-object/container-shopping-basket-orderer.html :: container-shopping-basket-orderer"></div>
                <!-- 적립금 -->
                <div th:replace="/user/order-object/container-shopping-basket-mileage.html :: container-shopping-basket-mileage"></div>
                <!-- 결제방법 -->
                <div th:replace="/user/order-object/container-shopping-basket-payment.html :: container-shopping-basket-payment"></div>
                <!-- 약관/결제 전체 동의 -->
                <div th:replace="/user/order-object/container-shopping-basket-consent.html :: container-shopping-basket-consent"></div>
                <!-- 결제요악 -->
                <div th:replace="/user/product-object/container-product-content-summary.html :: container-product-content-summary"></div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- 푸터 -->
      <div class="footer">
        <div th:replace="/fragments/footer.html :: fragment-footer"></div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/displayTypeChange.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/popup.js"></script>
    <script src="/js/home-sort-btn.js"></script>
    <script src="/js/product-top1.js"></script>
    <script src="/js/shopping-basket.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
      let agree = document.querySelectorAll(".agree-box input");
      let agreeAllBtn = document.querySelector("#agreeAllBtn");
      let str = document.querySelector("#itemDiscountPrice").value;
      let price = Number(str);
      let temp = price;
      //기존 가격으로 토탈 초기화
      let totalPrice = temp;
      let strItemPrice = document.querySelector("#itemPrice").value;
      let price2 = Number(strItemPrice);
      let temp2 = price2;
      //기존 가격으로 토탈 초기화
      let totalPrice2 = temp2;
      var b = ",";
      var position = -3;
      let itemDiscountRate = document.querySelector("#itemDiscountRate").value;
      //상품 갯수
      let n = document.querySelector(".MSH-sto-stock").value;
      let tempN = n;
      let amount = tempN;

      let m = document.querySelector("#prd_mileage_total").innerHTML;
      let mileage = Number(m.replace(",", ""));
      let tempM = mileage;
      let totalMileage = tempM;

      //유효성검사
      var ckeckId = /^[a-zA-z0-9_-]{5,20}$/;
      var id = document.querySelector("#username");
      id.addEventListener("keyup", function () {
        if (ckeckId.test(id.value)) {
          document.querySelector(".check-txt-id2").style.display = "none";
          document.querySelector(".check-txt-id3").style.display = "block";
        } else {
          document.querySelector(".check-txt-id2").style.display = "block";
          document.querySelector(".check-txt-id3").style.display = "none";
        }
      });

      var ckeckPW = /(?=.*[0-9])(?=.*[a-z])(?=.*\W)(?=\S+$).{8,20}/; //비밀번호 유효성 검사
      var pw = document.querySelector("#check-txt-pw");
      pw.addEventListener("keyup", function () {
        if (ckeckPW.test(pw.value)) {
          document.querySelector(".check-txt-pw2").style.display = "none";
          document.querySelector(".check-txt-pw3").style.display = "block";
        } else {
          document.querySelector(".check-txt-pw2").style.display = "block";
          document.querySelector(".check-txt-pw3").style.display = "none";
        }
      });

      var pw = document.getElementById("check-txt-pw");
      var pwcheck = document.getElementById("check-txt-pwcheck");
      pwcheck.addEventListener("keyup", function () {
        if (pw.value === pwcheck.value) {
          document.querySelector(".check-txt-pwcheck-same").style.display = "block";
          document.querySelector(".check-txt-pwcheck-not").style.display = "none";
        } else {
          document.querySelector(".check-txt-pwcheck-same").style.display = "none";
          document.querySelector(".check-txt-pwcheck-not").style.display = "block";
        }
      });

      var ckeckEmail = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+$/; //이메일 유효성 검사
      var email = document.querySelector("#memberEmail");
      email.addEventListener("keyup", function () {
        if (ckeckEmail.test(email.value)) {
          document.querySelector(".check-txt-email2").style.display = "none";
          document.querySelector(".check-txt-email3").style.display = "block";
        } else {
          document.querySelector(".check-txt-email2").style.display = "block";
          document.querySelector(".check-txt-email3").style.display = "none";
        }
      });

      function closeOptionList() {
  if (document.querySelector(".option-choice").style.display === "block") {
    document.querySelector("#hidden").style.display = "none";
  } else {
    let finalColorResult = document.querySelector(".final-color").innerHTML;
    let finalSizeResult = document.querySelector(".final-size").innerHTML;
    let productCount = document.querySelector(".MSH-sto-stock").value;
    document.querySelector(".final-size-result").innerHTML = finalSizeResult;
    document.querySelector(".final-color-result").innerHTML = finalColorResult;
    document.querySelector("#final-size-result").value = finalSizeResult;
    document.querySelector("#final-color-result").value = finalColorResult;
    document.querySelector("#product-count").innerHTML = productCount;
    document.querySelector("#hidden").style.display = "block";
  }
}
    </script>
    <script th:inline="javascript">

      let checkList = [[${cartList}]];
      orderInit();
      ///////////////////////////////////////////////////////////////////////////////////////////////////
      /////////////////////////////////////// order init 관련 함수 ///////////////////////////////////////

      function orderInit(){

        if ([[${member}]] != null){

          document.getElementById("order-first-input").value = [[${member}]].memberName; // 주문자 정보 이름
          document.getElementById("orderRecipientPhone1").value = [[${member}]].memberPhone.substr(0,3); // 주문자 정보 전화번호 (앞 3자리)
          document.getElementById("order-sec-input").value = [[${member}]].memberPhone.substr(3); // 주문자 정보 전화번호 (뒷자리)
          document.getElementById("sample6_postcode").value = [[${member}]].memberAddrNumber; // 우편번호
          document.getElementById("sample6_address").value = [[${member}]].memberAddr1; // 기본주소
          document.getElementById("sample6_detailAddress").value = [[${member}]].memberAddr2; // 나머지주소
        }

      }

      /////////////////////////////////////////////////////////////////////////////////////////////////////
      /////////////////////////////////////// order submit 관련 함수 ///////////////////////////////////////
      function focusAlert(id){
          if(document.querySelector(".order-hd-open-1").style.display !== "none"){
            document.querySelector(".span1").style.display = "none";
            document.querySelector(".order-hd-open-1").style.display = "none";
            document.querySelector(".order-hd-close-1").style.display = "block";
            document.querySelector(".order1").style.display = "block";

            setTimeout(function(){document.getElementById(id).focus();}, 100);
          }else{
            setTimeout(function(){document.getElementById(id).focus();}, 100);
          }
        }

      function processBeforeSubmit(){
        let form = document.orderForm;

        // input 합치기
        combineInput();

        // valid한지 확인하기
        let alertString = checkValid();

        if (alertString == "success"){
          // cart input 만들기
          addCartInput();
          form.submit();
        }
        else if(alertString == "장바구니가 비었습니다.\n관심있는 상품을 담아보세요."){
          alert(alertString);
          location.href = "/";
        }else{
          alert(alertString);
          if(alertString == "주문자 이름을 2~5자의 한글로 입력해주세요."){
            focusAlert("order-first-input");
          }else if(alertString == "주문자 휴대폰 번호를 정확히 입력해주세요."){
            focusAlert("order-sec-input");
          }else if(alertString == "수령자 이름을 입력해주세요."){
            focusAlert("order-first-input-copy");
          }else if(alertString == "수령자 휴대폰 번호를 정확히 입력해주세요."){
            focusAlert("order-sec-input-copy");
          }else if(alertString == "수령자 주소를 정확히 입력해주세요."){
            focusAlert("sample6_postcode");
          }else if(alertString == "계좌번호를 선택해주세요."){
            focusAlert("paySelect");
          }else if(alertString == "옵션을 선택해 주세요."){
            focusAlert("MSH-prd-name");
          }
        }

      }

      function checkValid(){

        let checkId = /^[a-zA-z0-9]{4,12}$/; //아이디 유효성 검사
        let checkPW = /(?=.*[0-9])(?=.*[a-z])(?=.*\W)(?=\S+$).{8,20}/; //비밀번호 유효성 검사
        let checkName = /^[가-힣]{2,5}$/; //이름 유효성 검사
        let checkEmail = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+$/; //이메일 유효성 검사
        let checkPhone = /^[0-9]{10,11}$/; //이메일 유효성 검사

        if(document.querySelector("#final-size-result").value === '' || document.querySelector("#final-color-result").value === ''){
          return "옵션을 선택해 주세요."
        }

        // 주문자 정보 이름
        let orderName = document.getElementById("order-first-input").value;
        if (orderName == "" || !checkName.test(orderName)){
          return "주문자 이름을 2~5자의 한글로 입력해주세요."
        }

        // 주문자 정보 번호
        let orderPhoneBack = document.getElementById("order-sec-input").value;
        let orderPhone = document.getElementById("orderPhone").value;
        if (orderPhoneBack == "" || !checkPhone.test(orderPhone)){
          return "주문자 휴대폰 번호를 정확히 입력해주세요."
        }

        // 수령자 정보 이름
        let orderRecipientName = document.getElementById("order-first-input-copy").value;
        if (orderRecipientName == ""){
          return "수령자 이름을 입력해주세요."
        }

        // 수령자 정보 번호
        let orderRecipientPhoneBack = document.getElementById("order-sec-input-copy").value;
        let orderRecipientPhone = document.getElementById("orderRecipientPhone").value;
        if (orderRecipientPhoneBack == "" || !checkPhone.test(orderRecipientPhone)){
          return "수령자 휴대폰 번호를 정확히 입력해주세요."
        }

        // 수령자 주소 우편번호
        let orderRecipientAddrNumber = document.getElementById("sample6_postcode").value;
        if (orderRecipientAddrNumber == ""){
          return "수령자 주소를 정확히 입력해주세요."
        }

        // 수령자 주소 나머지 주소
        let orderRecipientAddr2 = document.getElementById("sample6_detailAddress").value;
        if (orderRecipientAddr2 == ""){
          return "수령자 주소를 정확히 입력해주세요."
        }

        // 무통장입금 계좌전호 선택
        let withoutBankbook = document.getElementById("pay2");
        let account = document.getElementById("paySelect");
        let selectedAccount = account.options[account.selectedIndex].value;
        if (withoutBankbook.checked && selectedAccount == ""){
          return "계좌번호를 선택해주세요."
        }


        // 약관 동의
        let consents = document.getElementsByName("terms_agree");

        for (let idx = 0; idx < consents.length; idx++){
          if (!consents[idx].checked && idx!=3){
            return "약관/결제 동의를 해주세요."
          }
        }

        // 회원가입 할 경우
        if ([[${member}]] == null && document.getElementById("joinCheckBox").checked){
          // 아이디
          let username = document.getElementById("username").value;
          if (username == "" || !checkId.test(username)){
           return "아이디를 정확히 입력해주세요."
          }

          // 이메일
          let memberEmail = document.getElementById("memberEmail").value;
          if (memberEmail == "" || !checkEmail.test(memberEmail)){
           return "이메일를 정확히 입력해주세요."
          }

          // 비밀번호
          let password = document.getElementById("check-txt-pw").value;
          if (password == "" || !checkPW.test(password)){
           return "비밀번호를 정확히 입력해주세요."
          }

          // 비밀번호 재입력
          let pwcheck = document.getElementById("check-txt-pwcheck").value;
          if (pwcheck != password){
           return "비밀번호 재입력칸을 확인해주세요."
          }
        }


        return "success";
      }

      function combineInput(){
        // memberName
        let orderName = document.getElementById("order-first-input").value;
        document.getElementById("memberName").value = orderName;

        // orderPhone
        let orderPhone1 = document.getElementById("orderPhone1").value;
        let orderPhone2 = document.getElementById("order-sec-input").value;
        document.getElementById("orderPhone").value = orderPhone1 + orderPhone2;

        // memberPhone
        let orderPhone = document.getElementById("orderPhone").value;
        document.getElementById("memberPhone").value = orderPhone;

        // orderRecipientPhone
        let orderRecipientPhone1 = document.getElementById("orderRecipientPhone1").value;
        let orderRecipientPhone2 = document.getElementById("order-sec-input-copy").value;
        document.getElementById("orderRecipientPhone").value = orderRecipientPhone1 + orderRecipientPhone2;

        // memberAddrNumber
        let orderRecipientAddrNumber = document.getElementById("sample6_postcode").value;
        document.getElementById("memberAddrNumber").value = orderRecipientAddrNumber;

        // memberAddr1
        let orderRecipientAddr1 = document.getElementById("sample6_address").value;
        document.getElementById("memberAddr1").value = orderRecipientAddr1;

        // memberAddr2
        let orderRecipientAddr2 = document.getElementById("sample6_detailAddress").value;
        document.getElementById("memberAddr2").value = orderRecipientAddr2;
      }

      function addCartInput(){
        let form = document.orderForm;

          // amount
          let inputAmount = document.createElement("input");
          inputAmount.setAttribute("type", "hidden");
          inputAmount.setAttribute("name", "amountList");
          inputAmount.setAttribute("value", document.getElementById("MSH-sto-stock").value);
          form.appendChild(inputAmount);
      }

<!--      // 클릭하면 상단으로 이동하는 버튼-->
<!--  // Get the button-->
<!--  let buyButton = document.getElementById("buyBtn");-->

<!--// When the user scrolls down 20px from the top of the document, show the button-->
<!--  window.onscroll = function () {-->
<!--  btnScrollFunction();-->
<!--};-->

<!--function btnScrollFunction() {-->
<!--  if (document.body.scrollTop > 2300 || document.documentElement.scrollTop > 2300) {-->
<!--    //mybutton.style.display = "block";-->
<!--    buyButton.style.display = "none";-->
<!--  } else {-->
<!--    //mybutton.style.display = "none";-->
<!--    buyButton.style.display = "block";-->
<!--  }-->
<!--}-->

      window.addEventListener("scroll", function () {
        var fixedBtn = document.querySelector("#buyBtn"); //fixed 버튼
        var payBtn = document.querySelector("#payBtn").offsetTop; //결제하기 버튼 위치
        var scroll = document.documentElement.scrollTop; //스크롤 내린 길이
        var window = document.documentElement.clientHeight; //화면 길이
        var height = document.querySelector("#buyBtn").clientHeight; //fixed버튼 높이
        console.log("payBtn:" + payBtn); //고정값
        console.log("스크롤내린길이"+scroll);
        console.log("화면길이:"+window);
        console.log("가변값:" + (scroll - height)); //가변값
        //65
        if (payBtn + 146 < scroll - height ) {
          fixedBtn.style.opacity = "0";
        } else {
          fixedBtn.style.opacity = "1";
        }
        // scroll + window - height
      });

    </script>

    <script></script>
  </body>
</html>
