"   <table border=\"1px\" align=\"center\">\n" +
  "    <tr align=\"center\">\n" +
  "      <td><h3 style=\"color:skyblue\">마이소호 샘플샵 비밀번호 변경</h3></td>\n" +
  "    </tr>\n" +
  "    <tr>\n" +
  "      <td>\n" +
  "        <div>안녕하세요. 마이소호 샘플샵입니다 비밀번호 변경하기를 눌러주세요<div>\n" +
  "        <div><a href=\"http://54.180.12.194:8080/find/password2?getEmail="+getEmail+"\">\n" +
  "        <input type=\"submit\" role=\"button\" value=\"비밀번호 변경하기\" /></a></div>\n" +
  "      </td>\n" +
  "    </tr>\n" +
  "    <tr>\n" +
  "      <td>\n" +
  "        <div>서울 금천구 가산디지털 1로 168(가산동, 우림라이온스밸리)A동 14층</div>\n" +
  "        <div>사업자번호 206812113102-6903-9118 | mysoho2023@naver.com</div>\n" +
  "      </td>\n" +
  "    </tr>\n" + 
  "   </table>";