<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <title>마이소호 관리자페이지</title>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</head>

<div id="wrap" >
  <div th:replace="/fragments/nav.html :: fragment-adminNav"></div>
    <div id="contentWrap" style="width:100%">
        <div class="contentHeader" style="width:100%">
            <div>리뷰관리</div>
            <div>
                <a href="/" class="text-decoration-none">
                    <img class="logo" src="https://img.makeshop.co.kr/1/1371/201908/583f98cc6e004ec7b3ba880bf0eaf1c9.png" alt=""/>
                </a>
                <a href="javascript:logout();" type="button" class="btn btn-secondary">로그아웃</a>
            </div>
        </div>

  <div class="content" style="width:100%">
    <div style="width:100%" >
        <div class="contentWrap">

      <table class="table table-bordered" >
      <form  action="/admin/review/list" method="GET" >
        <input type="hidden" name="page" value="0">
        <tr>
          <th style="text-align: center;" class="table-light align-middle w250">기간</th>
          <td>
<!--            2023-02-15형태의 값으로 url에 반영 -->
            <input type="date" name="dateStart" value="" class="btn btn-outline-secondary"/> ~
            <input type="date" name="dateEnd" value="" class="btn btn-outline-secondary"/>
            <a href="/admin/review/list?dateStart=today&dateEnd=&findBy=type&keyword=&page=0" class="btn btn-outline-secondary">오늘</a>
            <a href="/admin/review/list?dateStart=yesterday&dateEnd=&findBy=type&keyword=&page=0" class="btn btn-outline-secondary">어제</a>
            <a href="/admin/review/list?dateStart=week&dateEnd=&findBy=type&keyword=&page=0" class="btn btn-outline-secondary">1주일</a>
            <a href="/admin/review/list?dateStart=month&dateEnd=&findBy=type&keyword=&page=0" class="btn btn-outline-secondary">1개월</a>
          </td>
        </tr>
        <tr>
          <th style="text-align: center;" class="align-middle table-light w250">검색조건</th>
          <td class="">
              <div class="input-group ">
                <select name="findBy" style="padding-left: 10px" >
                    <option value="memberId" selected>아이디</option>
                    <option value="itemNo" >상품번호</option>
                    <input type="text" value="" name="keyword" class="form-control"/>
                    <input type="submit" value="검색" class="btn btn-secondary"/>
                </select>
              </div>
          </td>
        </tr>
      </form>
    </table>
        </div>

        <div class="contentWrap">
      <div id="listForm" width="100%" >
          <div class="count">
              <div class="listCount">
                  <span>전체 리뷰내역 : </span>
                  <strong th:text="${ listCount }">5</strong>
              </div>
          </div>

          <table class="table table-bordered table-hover"style="text-align: center;" >
              <thead class="thead-strong">
                  <tr>
                    <th class="table-light align-middle w50"><input type="checkbox" id="allch"/></th>
                    <th class="table-light align-middle w110">상품번호</td>
                    <th class="table-light align-middle w200">상품명</th>
                    <th class="table-light align-middle w110">상품사진</th>
                    <th class="table-light align-middle w110">아이디</th>
                    <th class="table-light align-middle">내용</th>
                    <th class="table-light align-middle w50">별점</th>
                    <th class="table-light align-middle w150">작성일</th>
                    <th class="table-light align-middle w150">노출여부</th>
                    <th class="table-light align-middle w150">관리</th>
                  </tr>
              </thead>
              <tbody id="tbody">
                  <tr th:each="review, status:${ list }" >
                      <form action="/admin/review/status/modify" method="post">
                          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                      <td class="align-middle"><input type="checkbox" name="RowCheck" th:value="${ review.reviewNo }" /></td>

                      <td class="align-middle" th:text="${ review.itemNo }"> 상품번호</td>
                      <td class="align-middle" th:text="${ itemList[status.index] }">상품명</td>
                      <td class="align-middle"><img class="productImg" th:src="${ review.reviewImgUrl }"/></td>
                      <td class="align-middle" th:text="${ review.memberId }">아이디</td>
                      <td class="align-middle" th:text="${ review.reviewContent }">내용</td>
                      <td class="align-middle" th:text="${ review.reviewStar }">별점</td>
                      <td class="align-middle" th:text="${#temporals.format(review.reviewDatetime, 'yyyy-MM-dd HH:mm')}">날짜</td>
                      <td class="align-middle">
                          <select name="reviewExpo" class="form-select">
                              <option selected="selected" th:text="${ review.reviewExpo }" th:value="${ review.reviewExpo }" value="">노출함</option>
                              <option value="노출함">노출함</option>
                              <option value="노출안함">노출안함</option>
                          </select>
                      </td>
                    <td class="align-middle">
                        <input type="hidden" name="reviewNo" th:value="${ review.reviewNo }"/>
                        <input type="hidden" name="memberId" th:value="${ review.memberId }"/>
                        <input type="hidden" name="itemNo" th:value="${ review.itemNo }"/>
                        <input type="hidden" name="reviewStar" th:value="${ review.reviewStar }"/>
                        <input type="hidden" name="reviewContent" th:value="${ review.reviewContent }"/>
                        <input type="hidden" name="reviewImgUrl" th:value="${ review.reviewImgUrl }"/>
                        <button type="submit" class="btn btn-outline-danger" > 노출상태 변경</button>
                    </td>
                      </form>
                  </tr>
              </tbody>
            </table>


      </div>
            <div style="text-align: right">
                <input class="btn btn-danger" type="button" onclick="deleteValue();" value="선택삭제"/>
            </div>
        </div>


        <div class="container"> <!-- 페이지 시작 -->
            <div th:if="${!list.isEmpty()}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!list.hasPrevious} ? 'disabled'"> <!-- 이전 버튼 시작 -->
                        <th:block th:if="${#strings.equals(keyword, '')} and ${totalPage} == 1">
                            <a class="page-link" style="color: #555;" th:href="|/admin/review/list?page=${list.number-1}|">
                                <span>이전</span>
                            </a>
                        </th:block>
                        <th:block th:unless="${#strings.equals(keyword, '')} and ${totalPage} == 1">
                            <a class="page-link" style="color: #555;" th:href="|/admin/review/list?page=${list.number-1}&dateStart=${dateStart}&dateEnd=${dateEnd}&findBy=${findBy}&keyword=${keyword}|">
                                <span>이전</span>
                            </a>
                        </th:block>
                    </li> <!-- 이전 버튼 끝 -->
                    <li th:each="page: ${pageList}"
                        th:classappend="${page == list.number} ? 'active'"
                        class="page-item"> <!-- 숫자 페이지 버튼 시작 -->
                        <th:block th:if="${#strings.equals(keyword, '')} and ${totalPage} == 1">
                            <a th:text="${page+1}" class="page-link" style="color: #555;" th:href="|/admin/review/list?page=${page}|"></a>
                        </th:block>
                        <th:block th:unless="${#strings.equals(keyword, '')} and ${totalPage} == 1">
                            <a th:text="${page+1}" class="page-link" style="color: #555;" th:href="|/admin/review/list?page=${page}&dateStart=${dateStart}&dateEnd=${dateEnd}&findBy=${findBy}&keyword=${keyword}|"></a>
                        </th:block>
                    </li> <!-- 숫자 페이지 버튼 끝 -->
                    <li class="page-item" th:classappend="${!list.hasNext} ? 'disabled'"> <!-- 다음 버튼 시작 -->
                        <th:block th:if="${#strings.equals(keyword, '')} and ${totalPage} == 1">
                            <a class="page-link" style="color: #555;" th:href="|/admin/review/list?page=${list.number+1}|">
                                <span>다음</span>
                            </a>
                        </th:block>
                        <th:block th:unless="${#strings.equals(keyword, '')} and ${totalPage} == 1">
                            <a class="page-link" style="color: #555;" th:href="|/admin/review/list?page=${list.number+1}&dateStart=${dateStart}&dateEnd=${dateEnd}&findBy=${findBy}&keyword=${keyword}|">
                                <span>다음</span>
                            </a>
                        </th:block>
                    </li> <!-- 다음 버튼 끝 -->
                </ul>
            </div>
        </div> <!-- 페이지 끝 -->
  </div>
  <!--  컨텐츠 끝-->
        </div>
</div>
</div>

<!-- wrap -->
<script>
<!-- 전부체크/해제 -->
$('#listForm #allch').on('click',function(){
<!--체크된 경우 -->
if($('#allch').prop("checked")){
<!--  화면의 체크박스 전부 체크 -->
  $("input[type=checkbox]").prop("checked",true);
}else {
<!--아니면 체크 박스 전부 해제-->
  $("input[type=checkbox]").prop("checked",false);
  }
});
</script>
<script>
<!--선택 삭제 -->
     function deleteValue(){
      var reviewNo = "";
     $( "input[name='RowCheck']:checked" ).each (function (){
     reviewNo = reviewNo + $(this).val()+"," ;
     });
    if(reviewNo == ""){
     alert("삭제할 대상을 선택하세요.");
     return false;
     }
     console.log("통신시작");
     $.ajax({
            url : '/admin/review/delete',
            type : 'POST',
            traditional : true,
            data : {
              reviewNo : reviewNo
            },
            success: function(jdata){
              if(jdata = 1){
                alert("삭제 완료");
                location.replace("/admin/review/list")
              }
              else{
                alert("삭제 실패")
              }
            }
        });
    }
</script>
</body>

</html>



