<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>리뷰 게시판</h3>
<div th:text="|전체 후기내역: ${listcount})|"></div>
<form action="modifyAction">
  <table border="1">
    <tr>
      <td>번호</td>
      <td>전체체크박스</td>
      <td>상품명</td>
      <td>표시사항</td>
      <td>아이디</td>
      <td>내용</td>
      <td>별점</td>
      <td>수정</td>
      <td>삭제</td>
    </tr>

    <tr th:each="review, status:${ list }">
      <td th:text="${ status.count }">번호</td>
      <td><input type="checkbox" /></td>
      <td th:text="${ review.item_name; }">상품명</td>
      <td><input type="checkbox" />표시유무</td>
      <td th:text="${ review.memberId }">아이디</td>
      <td th:text="${ dto.reviewContent }">내용</td>
      <td th:text="${ dto.reviewStar }">별점</td>
      <td><button type="">선택수정</button></td>
      <td><button type="">선택삭제</button></td>
    </tr>
  </table>
</form>
<br>

</body>
</html>