      .container-myProductInquiries {
        padding-bottom: 100px;
        min-height: 550px;
      }
      .users-title-line-hd-wrap {
        display: flex;
      }
      .users-title-line-hd {
        background-color: white;
        width: 50%;
      }
      .users-title-line-hd {
        font-size: 14px;
        color: #999;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #this-page {
        border-bottom: 2px solid #000;
        color: #000;
        font-weight: bold;
      }
      .txt-detail {
        max-height: 864px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 70px 0;
        font-size: 14px;
      }
      .inquiry-item,
      .inquiry-writing{
        min-height: 87px;
        padding: 15px 18px;
        display: flex;
        gap: 10px;
        align-items: center;
        border-bottom: 1px solid rgb(240,240,240);
      }
      .item-image{
        width: 50px;
        height:50px;
      }
      .item-image img{
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
      .item-explain,
      .writing-explain{
        font-size: 14px;
        display: flex;
        flex-flow: column;
        gap: 5px;
        justify-content: center;
        width: 90%;
      }
      .writing-state{
        width: 46px;
        height:46px;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #999999;
        background: #edeff2;
        font-weight: bold;
        font-size: 11px;
        border-radius: 100%;
        border: none;
      }
      .writing-info{
        display: flex;
        font-size: 12px;
        color: rgb(170,170,170);
      }
      .writing-type{
        padding-right: 5px;
      }
      .writing-detail{
        padding: 0 5px;
      }
      .writing-content {
        word-break: break-all;
        position:relative;
      }
      .writing-content img{
        margin-left: 5px;
        height: 15px;
        position:absolute;
        bottom: 3px;
      }
      .writing-icon{
        position: relative;
        cursor: pointer;
      }
      .writing-icon img{
        height: 13px;
      }
      .writing-action{
        position: absolute;
        top: 30px;
        right:0px;
        width: 57px;
        border-radius: 4px;
        border: 1px solid rgb(240,240,240);
        background-color: white;
        visibility: hidden;
        z-index: 1;
      }
      .bar{
        border-right: 1px solid rgb(170,170,170);
        border-left: 1px solid rgb(170,170,170);
      }
      .list-gap{
        height: 10px;
        background-color: rgb(240,240,240);
        border-top: 1px solid rgb(200,200,200);
      }
      .background-green{
        background: #333;
        color: #fff;
      }
      .font-gray{
        color: gray;
      }
      .form-btn{
        width:100%;
        border: 0;
        background-color:transparent;
        padding: 5px;
      }
      .txt_ellipsis {
        max-width: 15vw;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        display:inline-block;
      }