<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이소호 샘플샵</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/option-popup.css" />
    <link rel="stylesheet" href="/css/share-btn.css" />
    <link rel="stylesheet" href="/css/shopping-basket.css" />
  </head>
  <body>
    <div class="wrap">
      <div class="betweenbtn">
        <div th:replace="/fragments/betweenbtn.html :: fragment-betweenbtn"></div>
      </div>
      <div class="header">
        <div th:replace="/fragments/header.html :: fragment-header"></div>
      </div>
      <!-- content  -->
      <div class="content-view text-align-center">
        <!-- cart -->
        <div th:replace="/user/order-object/container-shopping-basket-cart.html :: container-shopping-basket-cart"></div>
        <form name="orderForm" action="/order/test2" method="POST" onsubmit="processBeforeSubmit()">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <!-- 주문자 정보-->
          <div th:replace="/user/order-object/container-shopping-basket-orderer.html :: container-shopping-basket-orderer"></div>
          <!-- 적립금 -->
          <div th:replace="/user/order-object/container-shopping-basket-mileage.html :: container-shopping-basket-mileage"></div>
          <!-- 결제방법 -->
          <div th:replace="/user/order-object/container-shopping-basket-payment.html :: container-shopping-basket-payment"></div>
          <!-- 약관/결제 전체 동의 -->
          <div th:replace="/user/order-object/container-shopping-basket-concent.html :: container-shopping-basket-concent"></div>
          <!-- 결제 요약 -->
          <div th:replace="/user/order-object/container-shopping-basket-summary.html :: container-shopping-basket-summary"></div>
        </form>
      </div>

<!--임시 ----------------------------------------------------------------------------------------------------------->
      <button onclick="setCookie('item_idx.20000.화이트.FREE','5')">임시</button>
      <button onclick="setCookie('item_idx.20003.베이지.M','3')">임시</button>
      <button onclick="setCookie('item_idx.20006.블랙.FREE','5')">임시</button>
      <!--임시 --------------------------------------------------------------------------------------------------------->


      <!-- 푸터 -->
      <div class="footer">
        <div th:replace="/fragments/footer.html :: fragment-footer"></div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <!-- 우편번호 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/popup.js"></script>
    <script src="/js/shopping-basket.js"></script>

    <script th:inline="javascript">

      //////////// 체크박스 선택

      let checkList = [[${cartList}]];

      function checkBoxAll(){
        let checkBoxAll = document.getElementById("checkBoxAll");
        let checkBox = document.getElementsByName("checkBox");

        if (checkBoxAll.checked == true){
          checkList = [[${cartList}]];
          for (c of checkBox){
            c.checked = true;
          }
        }else{
          checkList = [];
          for (c of checkBox){
            c.checked = false;
          }
        }

        let countSelected = document.getElementById("countSelected");
        countSelected.innerText = checkList.length;
      }

      function checkBox(cartCode){
        let checkBox = document.getElementById("checkBox"+cartCode);
        if (checkBox.checked == true){
          for (cart of [[${cartList}]]){
            if (cart.cartCode == cartCode){
              checkList.push(cart);
            }
          }
        }else{
          for (idx in checkList){
            if (checkList[idx].cartCode == cartCode){
              checkList.splice(idx, 1);
              idx--;
            }
          }
        }

        let countSelected = document.getElementById("countSelected");
        countSelected.innerText = checkList.length;
      }

      ////////////////// order 관련 함수

      function processBeforeSubmit(){
        combineInput();
        addCartInput();
      }

      function combineInput(){
        // orderPhone
        let orderPhone1 = document.getElementById("orderPhone1").value;
        let orderPhone2 = document.getElementById("order-sec-input").value;
        document.getElementById("orderPhone").value = orderPhone1 + orderPhone2;

        // orderRecipientPhone
        let orderRecipientPhone1 = document.getElementById("orderRecipientPhone1").value;
        let orderRecipientPhone2 = document.getElementById("order-sec-input-copy").value;
        document.getElementById("orderRecipientPhone").value = orderRecipientPhone1 + orderRecipientPhone2;

        // orderRecipientAddr1
        let orderRecipientAddr1 = document.getElementById("sample6_address").value;
        let orderRecipientAddr2 = document.getElementById("sample6_extraAddress").value;
        document.getElementById("orderRecipientAddr1").value = orderRecipientAddr1 + orderRecipientAddr2;

        // orderPayType
        let orderPayTypeList = document.getElementsByName("orderPayType1");
        let orderPayType2 = document.getElementById("paySelect").value;
        for (orderPayTypeObj of orderPayTypeList){
          if(orderPayTypeObj.checked){
            document.getElementById("orderPayType").value = orderPayTypeObj.value + orderPayType2;
          }
        }

      }

      function addCartInput(){
        let form = document.orderForm;

        for (cart of checkList){

          // colorList
          let inputColor = document.createElement("input");
          inputColor.setAttribute("type", "hidden");
          inputColor.setAttribute("name", "colorList");
          inputColor.setAttribute("value", cart.itemOptionColor);
          form.appendChild(inputColor);

          // sizeList
          let inputSize = document.createElement("input");
          inputSize.setAttribute("type", "hidden");
          inputSize.setAttribute("name", "sizeList");
          inputSize.setAttribute("value", cart.itemOptionSize);
          form.appendChild(inputSize);

          // amountList
          let inputAmount = document.createElement("input");
          inputAmount.setAttribute("type", "hidden");
          inputAmount.setAttribute("name", "amountList");
          inputAmount.setAttribute("value", cart.cartItemAmount);
          form.appendChild(inputAmount);

          // itemCode
          let inputItemCode = document.createElement("input");
          inputItemCode.setAttribute("type", "hidden");
          inputItemCode.setAttribute("name", "itemCodeList");
          inputItemCode.setAttribute("value", cart.itemCode);
          form.appendChild(inputItemCode);
        }

      }

    </script>

<!--    임시~~~~~~~0000000000000000000000000000000000000000000000000000000000000000000000000-->
    <script>
        function setCookie(cookieName, cookieValue) {
          //쿠키 생성 함수 (매개변수로 "item_idx 1", 1)이 들어옴
          var date = new Date(); //
          date.setTime(date.getTime() + 24 * 60 * 60 * 1000); //date를 현재시간 + 3일 후로 설정한다.


          ////////////////////////////////////////////////
          let encodedCookieName = "";
          let splitedCookieName = cookieName.split('.');

          let encodedColor = encodeURIComponent(splitedCookieName[2]);
          for (let idx in splitedCookieName){
            if (idx == 0){
              encodedCookieName += splitedCookieName[idx];
            }
            else if (idx == 2){
              encodedCookieName += "." + encodedColor;
            }
            else{
              encodedCookieName += "." + splitedCookieName[idx];
            }
          }
          console.log(encodedCookieName);
          ////////////////////////////////////////////////



          document.cookie =
            encodedCookieName + //쿠키이름 (key)
            "=" +
            cookieValue + // 쿠키(value)
            ";expires=" +
            date.toUTCString() + //쿠키 기한 // 설정한 데이트타임으로 기한을 준다.
            ";path=/";
        };
    </script>
    <!--    임시~~~~~~~0000000000000000000000000000000000000000000000000000000000000000000000000-->
    <script>
      function sumPrice(index, pricePerItem) {
        let regexp = /\B(?=(\d{3})+(?!\d))/g;
        let amountObj = document.getElementById("option-amount" + index);
        let priceObj = document.getElementById("option-price" + index);

        amountObj.value = parseInt(amountObj.value) + 1;
        let price = amountObj.value * pricePerItem;
        priceObj.innerText = price.toString().replace(regexp, ',') + '원';
      }
      function subPrice(index, pricePerItem) {
        let regexp = /\B(?=(\d{3})+(?!\d))/g;
        let amountObj = document.getElementById("option-amount" + index);
        let priceObj = document.getElementById("option-price" + index);

        if (parseInt(amountObj.value) > 1){
          amountObj.value = parseInt(amountObj.value) - 1;
        }
        let price = amountObj.value * pricePerItem;
        priceObj.innerText = price.toString().replace(regexp, ',') + '원';
      }
    </script>






    <script>
      let agree = document.querySelectorAll(".agree-box input");
      let agreeAllBtn = document.querySelector("#agreeAllBtn");
    </script>

    <!-- 옵션선택 팝업 -->
    <script>

      document
        .querySelector(".show-share-list")
        .addEventListener("click", showShareList);
      document
        .querySelector("#closeBtn-share")
        .addEventListener("click", closeOrderList);

      let optionStr = document.querySelector("#option-price").innerHTML;
      // 가격 형변환 후 쉼표추가 함수
      let optionStr2 = optionStr.replace("원", "");
      let optionPrice = Number(optionStr2.replace(",", ""));
      let optionTemp = optionPrice;
      //기존 가격으로 토탈 초기화
      let optionTotalPrice = optionTemp;

      //원가 수정 예정
      let optionTotalPriceFirstCost =
        Math.round((optionTemp * 1.09) / 1000) * 1000;

      //상품 갯수
      let optionN = document.querySelector(".MSH-sto-stock").value;
      let optionTemp2 = optionN;
      let optionAmount = optionTemp2;
      let finalPrice = "";

      var b = ",";
      var position = -3;
    </script>
  </body>
</html>
