<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="fragment-adminNav">
  <div class="admin-navBar">
    <div class="navHeader">관리자페이지</div>
    <div><a href="/admin/member/"><img src=""> 회원관리</a></div>
    <div><a href="/admin/product/"><img src=""> 상품관리</a></div>
    <div><a href="/admin/order/"><img src=""> 주문관리</a></div>
    <div><a href="/admin/review/"><img src=""> 리뷰관리</a></div>
    <div><a href="/admin/qna/"><img src=""> 통합문의관리</a></div>
    <div><a href="/admin/inquiry/"><img src=""> 상품문의관리</a></div>
    <div><a href="/admin/notice/"><img src=""> 공지사항관리</a></div>
  </div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</th:block>

</html>
