* {
  margin: 0;
  padding: 0;
  white-space: nowrap;

}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 25px;
  background-color: white;
  border: 1px solid #dee2e6;
  font-size: 25px;
  font-weight: bold;
}
.navHeader {
  align-items: center;
  height: 60px;
  padding: 0 10px;
  border-bottom: 1px solid #dee2e6;
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}
#wrap {
  display: flex;
  min-height: 940px;
  background-color: #f8f9fa;
}
.admin-navBar {
  min-width: 200px;
  padding: 0;
  background-color: #333;
}
.admin-navBar div {
  display: flex;
}
.admin-navBar a {
  margin: 0 15px;
  text-decoration: none;
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid #949ca6;
  color: white;
}
.admin-navBar a:hover {
  font-weight: bold;
  color: white;
  font-size: 18px;
}
.head-title {
  display: flex;
  align-items: center;
}
.content {
  padding: 20px;
  max-width: 100%;
}
.count {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.listCount {
  display: flex;
  align-items: flex-end;
}
.productImg {
  max-height: 70px;
}
.page-link {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}

.page-item.active .page-link {
  z-index: 1;
  color: #555;
  font-weight: bold;
  background-color: #fff;
  border-color: #ccc;
}

.page-link:focus,
.page-link:hover {
  color: #000;
  background-color: #fafafa;
  border-color: #ccc;
}
select {
  border: 1px solid #dee2e6;
}
.contentWrap {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #dee2e6;
}
.contentHeader {
  background-color: white;
}
.sub-title {
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.w250 {
  width: 250px;
}
.w200 {
  width: 200px;
}
.w150 {
  width: 150px;
}
.w110 {
  width: 110px;
}
.w50 {
  width: 50px;
}
.navImg img{
  width: 20px
}

.navImg img{
  width: 20px
}
.ellipsisTxt {
  overflow: hidden;
  text-overflow: ellipsis;
}

