.container-notice {
  margin: 0;
  padding: 0;
  min-height: 1000px;
  border-bottom: 1px solid #d6d6d6;
}
.users-title-line-hd {
  height: 50px;
  background: #fafafa;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  border-left: 0;
  border-right: 0;
  margin-top: 0;
}
.users-title-line-hd h2 {
  font-size: 16px;
  line-height: 52px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.notice-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 470px;
}
.notice-search-wrap {
  padding: 20px 18px;
}
.notice-search {
  border: 1px solid #d6d6d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notice-search input {
  width: 80%;
  height: 42px;
  padding-left: 10px;
  border: none;
}
.notice-search button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color:transparent;
  border: none;
}
.notice-search img {
  width: 22px;
  height: 22px;
}
.notice-list-wrap {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid #d6d6d6;
}
.notice-board-list {
  display: flex;
  width: 100%;
}
.dil,
.name,
.date {
  color: #999999;
  font-size: 11px;
}
.tit {
  color: #999999;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.tit-wrap {
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.notice-info {
  display: flex;
}
.notice-info div {
  padding: 0 8px;
}
.notice-info div:first-child {
  padding-left: 0;
}
.dil {
  border-right: 1px solid #d6d6d6;
}
.page-link {
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
}
.page-item.active .page-link {
  z-index: 1;
  color: #555;
  font-weight: bold;
  background-color: #fff;
  border-color: #ccc;
}
.page-link:focus,
.page-link:hover {
  color: #000;
  background-color: #fafafa;
  border-color: #ccc;
}
#page-form{
   margin: 20px 0;
}
input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 30px #fff inset ;
   -webkit-text-fill-color: #000;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
   transition: background-color 5000s ease-in-out 0s;
}