.container-write {
  margin: 0;
  padding: 0;

  border-bottom: 1px solid #d6d6d6;
}
.users-title-line-hd {
  height: 62px;
  border-bottom: 1px solid #d6d6d6;
  border-left: 0;
  border-right: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.users-title-line-hd h2 {
  font-size: 20px;
  line-height: 52px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.notice-content-wrap {
  padding: 20px 18px 100px;
  display: flex;
  flex-direction: column;
}
.notice-content {
  border: 1px solid #d6d6d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;
}
.mt-10 {
  margin-top: 10px;
}
.mt-30 {
  margin-top: 30px;
}
.gray-txt {
  font-size: 13px;
  color: #666666;
  margin-bottom: 0;
}
.notice-content2{
    border: 1px solid #d6d6d6;
    min-height:400px;
    word-break: break-all;
}
.notice-content2 *{
    white-space: normal;
    max-width:100%;
}
.notice-content2 figure {
    text-align: center;
}
.notice-content2 ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.notice-content2 ul li {
    list-style: disc outside none;
}
.notice-content2 ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.notice-content2 ol li {
    list-style: decimal outside none;
}
.btn-h42-gray {
  width: 100%;
  line-height: 52px;
  background: #333;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.txt-box {
  padding: 15px 0;
  border-top: 1px solid #d6d6d6;
}


