
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/admin.css">
  <title>마이소호 관리자페이지</title>
</head>
<div id="wrap">
  <div th:replace="/fragments/nav.html :: fragment-adminNav"></div>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <div id="contentWrap" style="width:100%">
    <div class="contentHeader" style="width:100%">
      <div>상품목록</div>
      <div>
        <a type="button" class="btn btn-secondary">로그아웃</a>
      </div>
    </div>
  <div class="content" style="width:100%">
    <div style="width:100%" >
      <form action="/admin/product/list" method="GET">
        <input type="hidden" name="page" value="0">
        <div class="contentWrap">
        <table class="table table-bordered" >
          <tr>
            <th style="text-align: center;" class="table-light w250 align-middle">상품분류</th>
            <td>
              <select name="findByType1" class="form-select">
                <option value="all" selected="selected">대분류</option>
                <option value="TOP">TOP</option>
                <option value="BOTTOM">BOTTOM</option>
                <option value="ONE-PIECE">ONE-PIECE</option>
                <option value="ACC">ACC</option>
              </select>
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="table-light w250 align-middle">검색조건</th>
            <td>
              <div class="input-group">
              <select name="findByType2" style="padding-left: 10px">
                <option value="all" selected="selected">전체</option>
                <option value="상품명" >상품명</option>
                <option value="상품코드" >상품코드</option>
                <option value="상품가격" >상품가격</option>
                <input class="form-control" name="keyword">
                <button class="btn btn-secondary" type="submit">검색</button>
              </select>
              </div>
            </td>
          </tr>

        </table>
        </div>
      </form>


      <div class="contentWrap">
      <div class="count">
        <div class="listCount" >
          <span>총 상품수 : </span>
          <strong th:text="${ listCount }">5</strong>
        </div>
        <a class="btn btn-secondary" href="/admin/product/registration">상품등록</a>
      </div>

      <table  class="table table-bordered table-hover" style="text-align: center;" >
        <thead class="thead-strong">
        <tr>
          <td class="table-light align-middle w50"><input type="checkbox"></td>
          <th class="table-light align-middle w110">상품코드</th>
          <th class="table-light align-middle w110">이미지</th>
          <th class="table-light align-middle ">상품명</th>
          <th class="table-light align-middle ">색상</th>
          <th class="table-light align-middle w110">사이즈</th>
          <th class="table-light align-middle w150">가격</th>
          <th class="table-light align-middle w150">노출상태</th>
          <th class="table-light align-middle w150">판매상태</th>
          <th class="table-light align-middle w250">상세정보</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="dto:${ list }">
          <form action="/admin/product/list/modify/action" method="post" enctype="multipart/form-data">
          <td class="align-middle"><input type="checkbox" name="RowCheck" th:value="${ dto.itemNo }"></td>
          <td class="align-middle" th:text="${ dto.itemNo }">상품코드</td>
          <!--          이미지-->
          <td class="align-middle" ><img th:href="@{product/list(itemNo=${dto.itemNo})}" th:src="${ dto.itemImageUrl }" class="productImg"> </td>
          <td class="align-middle">
            <a  th:href="|/admin/product/content?itemNo=${dto.itemNo}|" th:text="${ dto.itemName }"
               style="text-decoration: none;color: black;;">상품명</a>
          </td>
          <td class="align-middle" th:text="${ dto.itemOptionColor }">색상</td>
          <td class="align-middle" th:text="${ dto.itemOptionSize }">사이즈</td>
          <td class="align-middle" th:text="${ dto.itemPrice }+원">가격</td>
          <td class="align-middle">
            <select name="itemExposure" class="form-select ellipsisTxt">
              <option th:text="${ dto.itemExposure }" th:value="${ dto.itemExposure }" value="" selected="selected">노출함</option>
              <option value="노출함">노출함</option>
              <option value="노출안함">노출안함</option>
            </select>
          </td>
          <td class="align-middle">
            <select name="itemSoldOut" class="form-select ellipsisTxt">
              <option th:text="${ dto.itemSoldOut }" th:value="${ dto.itemSoldOut }" value="" selected="selected">판매중</option>
              <option value="판매중">판매중</option>
              <option value="품절">품절</option>
            </select>
          </td>
          <td class="align-middle" style="text-align: center;">
            <input th:value="${ dto.itemNo }" type="hidden" name="itemNo">
            <input th:value="${ dto.itemCategory }" type="hidden" name="itemCategory">
            <input th:value="${ dto.itemName }" type="hidden" name="itemName">
            <input th:value="${ dto.itemOptionColor }" type="hidden" name="itemOptionColor">
            <input th:value="${ dto.itemOptionSize }" type="hidden" name="itemOptionSize">
            <input th:value="${ dto.itemPrice }" type="hidden" name="itemPrice">
            <input th:value="${ dto.itemDiscountRate }" type="hidden" name="itemDiscountRate">
            <input th:value="${ dto.itemImageUrl }" type="hidden" name="itemImageUrl">
            <input th:value="${ dto.itemInfo }" type="hidden" name="itemInfo">
            <input th:value="${ dto.itemUpdateDatetime }" type="hidden" name="itemUpdateDatetime">
            <button type="submit" class="btn btn-outline-danger" >저장</button>
            <a th:href="|/admin/product/content?itemNo=${dto.itemNo}|" class="btn btn-outline-secondary">수정</a>
            <a th:href="|/admin/product/delete?itemNo=${dto.itemNo}|" class="btn btn-outline-danger">삭제</a>
          </td>
      </form>
        </tr>
        </tbody>
      </table>
        <div style="text-align: right">
          <input class="btn btn-danger" type="button" onclick="deleteValue()"  value="선택삭제"/>
        </div>
    </div>
    </div>


    <!-- 페이지 네비게이션 -->
    <div class="container"> <!-- 페이지 시작 -->
      <div th:if="${!list.isEmpty()}">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${!list.hasPrevious} ? 'disabled'"> <!-- 이전 버튼 시작 -->
            <th:block th:if="${#strings.equals(keyword, '')} and ${totalPage} == 1">
              <a class="page-link" style="color: #555;" th:href="|/admin/product/list?page=${list.number-1}|">
                <span>이전</span>
              </a>
            </th:block>
            <th:block th:unless="${#strings.equals(keyword, '')} and ${totalPage} == 1">
              <a class="page-link" style="color: #555;" th:href="|/admin/product/list?page=${list.number-1}&findByType1=${findByType1}&findByType2=${findByType2}&keyword=${keyword}|">
                <span>이전</span>
              </a>
            </th:block>
          </li> <!-- 이전 버튼 끝 -->
          <li th:each="page: ${pageList}"
              th:classappend="${page == list.number} ? 'active'"
              class="page-item"> <!-- 숫자 페이지 버튼 시작 -->
            <th:block th:if="${#strings.equals(keyword, '')} and ${totalPage} == 1">
              <a th:text="${page+1}" class="page-link" style="color: #555;" th:href="|/admin/product/list?page=${page}|"></a>
            </th:block>
            <th:block th:unless="${#strings.equals(keyword, '')} and ${totalPage} == 1">
              <a th:text="${page+1}" class="page-link" style="color: #555;"
                 th:href="|/admin/product/list?page=${page}&findByType1=${findByType1}&findByType2=${findByType2}&keyword=${keyword}|"></a>
            </th:block>
          </li> <!-- 숫자 페이지 버튼 끝 -->
          <li class="page-item" th:classappend="${!list.hasNext} ? 'disabled'"> <!-- 다음 버튼 시작 -->
            <th:block th:if="${#strings.equals(keyword, '')} and ${totalPage} == 1">
              <a class="page-link" style="color: #555;" th:href="|/admin/product/list?page=${list.number+1}|">
                <span>다음</span>
              </a>
            </th:block>
            <th:block th:unless="${#strings.equals(keyword, '')} and ${totalPage} == 1">
              <a class="page-link" style="color: #555;" th:href="|/admin/product/list?page=${list.number+1}&findByType1=${findByType1}&findByType2=${findByType2}&keyword=${keyword}|">
                <span>다음</span>
              </a>
            </th:block>
          </li> <!-- 다음 버튼 끝 -->
        </ul>
      </div>
    </div> <!-- 페이지 끝 -->
  </div> <!-- content 끝 -->
  </div>
  <!--  컨텐츠 끝-->
</div>

<!-- wrap -->
<script>
     function deleteValue(){

      var itemNo = "";
     $( "input[name='RowCheck']:checked" ).each (function (){
     itemNo = itemNo + $(this).val()+"," ;
     });
    if(itemNo == ""){
     alert("삭제할 대상을 선택하세요.");
     return false;
     }
     $.ajax({
            url : '/admin/product/delete/check',
            type : 'POST',
            traditional : true,
            data : {
              itemNo : itemNo
            },
            success: function(jdata){
              if(jdata = 1){
                alert("삭제 완료");
                location.replace("/admin/product")
              }
              else{
                alert("삭제 실패")
              }
            }
        });
    }
    </script>


</body>

</html>



