
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/admin.css">
  <title>마이소호 관리자페이지</title>
</head>
<div id="wrap">
  <div th:replace="/fragments/nav.html :: fragment-adminNav"></div>
  <div id="contentWrap" style="width:100%">
    <div class="contentHeader" style="width:100%">
      <div>주문관리</div>
      <div>
        <a type="button" class="btn btn-secondary">로그아웃</a>
      </div>
    </div>
  <div class="content" style="width:100%">
    <div style="width:100%" >

      <form action="/admin/order/content/action" method="post">
        <div class="contentWrap">
        <h3 class="sub-title"> 구매 상품 정보</h3>
        <table class="table table-bordered" th:each="cartDto:${ cartList }">

          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">상품명</th>
            <td class="align-middle">
              <input th:value="${ cartDto.itemName }" name=""  placeholder="상품명" disabled class="form-control">
              <input th:value="${ cartDto.itemName }" name="itemName"  type="hidden" >
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">색상</th>
            <td class="align-middle">
              <input th:value="${ cartDto.itemOptionColor }" name=""  placeholder="색상" disabled class="form-control">
              <input th:value="${ cartDto.itemOptionColor }" name="itemOptionColor"  type="hidden" >
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">사이즈</th>
            <td class="align-middle">
              <input th:value="${ cartDto.itemOptionSize }" name=""  placeholder="사이즈" disabled class="form-control">
              <input th:value="${ cartDto.itemOptionSize }" name="itemOptionSize"  type="hidden" >
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">수량</th>
            <td class="align-middle">
              <input th:value="${ cartDto.cartItemAmount }" name=""  placeholder="수량" disabled class="form-control">
              <input th:value="${ cartDto.cartItemAmount }" name="cartItemAmount"  type="hidden" >
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle" >상품금액</th>
            <td class="align-middle">
              <input th:value="${ cartDto.cartItemPrice }"  name=""  placeholder="판매가" disabled class="form-control">
              <input th:value="${ cartDto.cartItemPrice }" name="cartItemPrice"  type="hidden" >
            </td>
          </tr>
        </table>
        </div>

        <div class="contentWrap">
        <h3 class="sub-title"> 주문자 / 수령자 정보</h3>
        <table class="table table-bordered" >
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">주문자명</th>
            <td class="align-middle">
              <input th:value="${ dto.orderName }" name=""  placeholder="주문자명" disabled class="form-control">
              <input th:value="${ dto.orderName }" name="orderName"  type="hidden" >
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">주문자 연락처</th>
            <td class="align-middle">
              <input th:value="${ dto.orderPhone }" name=""  placeholder="주문자 연락처" disabled class="form-control">
              <input th:value="${ dto.orderPhone }" name="orderPhone"  type="hidden" >
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">수령자명</th>
            <td class="align-middle">
              <input th:value="${ dto.orderRecipientName }" name="orderRecipientName"  placeholder="수령자명" class="form-control">
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">수령자 연락처</th>
            <td class="align-middle">
              <input th:value="${ dto.orderRecipientPhone }" name="orderRecipientPhone"  placeholder="수령자 연락처" class="form-control">
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">수령자 우편번호</th>
            <td class="align-middle">
              <input
                      th:value="${dto.orderRecipientAddrNumber}"
                      type="text"
                      name="orderRecipientAddrNumber"
                      id="postcode"
                      placeholder="수령자 우편번호"
                      class="form-control"
                      onclick=sample6_execDaumPostcode()
              />
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">수령자 기본주소</th>
            <td class="align-middle">
              <input th:value="${ dto.orderRecipientAddr1 }" name="orderRecipientAddr1"  placeholder="수령자 기본주소" class="form-control" id="orderRecipientAddr1">
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">수령자 나머지주소</th>
            <td class="align-middle">
              <input th:value="${ dto.orderRecipientAddr2 }" name="orderRecipientAddr2"  placeholder="수령자 나머지주소" class="form-control" id="orderRecipientAddr2">
            </td>
          </tr>
        </table>
        </div>

        <div class="contentWrap">
        <table class="table  table-bordered" >
          <h3 class="sub-title">결제 정보</h3>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">적립금</th>
            <td class="align-middle">
              <input th:value="${ dto.memberMileage }" name=""  placeholder="0" disabled class="form-control">
              <input th:value="${ dto.memberMileage }" name="memberMileage"  type="hidden" >
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">쿠폰</th>
            <td class="align-middle">
              <input th:value="${ dto.memberCoupon }" name=""  placeholder="0" disabled class="form-control">
              <input th:value="${ dto.memberCoupon }" name="memberCoupon"  type="hidden" >
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">결제방식</th>
            <td class="align-middle">
              <input th:value="${ dto.orderPayType }" name=""  placeholder="0" disabled class="form-control">
              <input th:value="${ dto.orderPayType }" name="orderPayType"  type="hidden" >
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">주문 총수량</th>
            <td class="align-middle">
              <input th:value="${ dto.orderTotalCount }" name=""  placeholder="0" disabled class="form-control">
              <input th:value="${ dto.orderTotalCount }" name="orderTotalPrice"  type="hidden" >
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">결제금액</th>
            <td class="align-middle">
              <input th:value="${ dto.orderTotalPrice }" name=""  placeholder="0" disabled class="form-control">
              <input th:value="${ dto.orderTotalPrice }" name="orderTotalPrice"  type="hidden" >
            </td>
          </tr>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">주문일시</th>
            <td class="align-middle">
              <input th:value="${#temporals.format(dto.orderDatetime, 'yyyy-MM-dd HH:mm')}" name=""  placeholder="0" disabled class="form-control">
            </td>
          </tr>
        </table>
        </div>

        <div class="contentWrap">
        <table class="table table-bordered" >
          <h3 class="sub-title"> 주문상태</h3>
          <tr>
            <th style="text-align: center;" class="w250 table-light align-middle">주문상태</th>
            <td class="align-middle">
              <select name="orderState" class="form-select">
                <option value="" selected="selected" th:text="${ dto.orderState }" th:value="${ dto.orderState }">주문상태</option>
                <option value="결제대기">결제대기</option>
                <option value="배송대기">배송대기</option>
                <option value="배송중">배송중</option>
                <option value="배송완료">배송완료</option>
                <option value="취소/반품/교환">취소/반품/교환</option>
              </select>
            </td>
          </tr>
        </table>
        </div>
        <div style="text-align: center;">
          <input th:value="${ dto.orderNo }" name="orderNo" type="hidden">
          <input th:value="${ dto.cartCode1 }" name="cartCode1" type="hidden">
          <input th:value="${ dto.orderTotalCount }" name="orderTotalCount" type="hidden">
          <button type="submit" class="btn btn-danger">수정</button>
          <a href="/admin/order/list?page=0" class="btn btn-outline-secondary">목록</a>
        </div>
      </form>
    </div>
  </div>
</div>
<!--  컨텐츠 끝-->
</div>

<!-- wrap -->
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
function sample6_execDaumPostcode() {
new daum.Postcode({
oncomplete: function (data) {
var addr = ""; // 주소 변수
var extraAddr = ""; // 참고항목 변수
if (data.userSelectedType === "R") {
// 사용자가 도로명 주소를 선택했을 경우
addr = data.roadAddress;
} else {
// 사용자가 지번 주소를 선택했을 경우(J)
addr = data.jibunAddress;
}

// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
if (data.userSelectedType === "R") {
// 법정동명이 있을 경우 추가한다. (법정리는 제외)
// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
if (
data.bname !== "" &&
/[동|로|가]$/g.test(data.bname)
) {
extraAddr += data.bname;
}
// 건물명이 있고, 공동주택일 경우 추가한다.
if (
data.buildingName !== "" &&
data.apartment === "Y"
) {
extraAddr +=
extraAddr !== ""
? ", " + data.buildingName
: data.buildingName;
}
// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
if (extraAddr !== "") {
extraAddr = " (" + extraAddr + ")";
}
// 조합된 참고항목을 해당 필드에 넣는다.
document.getElementById("orderRecipientAddr1").value =
extraAddr;
} else {
document.getElementById("orderRecipientAddr1").value =
"";
}

// 우편번호와 주소 정보를 해당 필드에 넣는다.
document.getElementById("postcode").value =
data.zonecode;
document.getElementById("orderRecipientAddr1").value = addr;
// 커서를 상세주소 필드로 이동한다.
document.getElementById("orderRecipientAddr2").focus();
},
}).open();
}
</script>
</body>

</html>



