
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
      }
      .header {
        display: flex;
        justify-content: space-between;
        height: 60px;
        padding: 0 25px;
        background-color: #333;
        color: white;
        border-bottom: 1px solid #949ca6;
      }
      #wrap {
        display: flex;
        min-height: 830px;
      }
      .admin-navBar {
        width: 200px;
        padding: 25px;
        background-color: #333;

      }
      .admin-navBar div {
        display: flex;
      }

      .admin-navBar a {
        text-decoration: none;
        padding: 15px 0;
        width: 100%;
        border-bottom: 1px solid #949ca6;
        color: white;
      }

      .head-title {
        display: flex;
        align-items: center;
      }
      .logout-btn {
        margin-right: 50px;
        padding: 10px 20px;
        font-weight: bold;
        font-size: 18px;
      }
      .content {
        padding: 20px;
        width: 100%;
      }
      img{
      max-height: 70px;
      }
      .countItem {
        display: flex;
        justify-content: space-between;
        padding : 5px 20px;
      }

    </style>
</head>
<div th:replace="/fragments/header.html :: fragment-adminHeader"></div>

<div id="wrap">
  <div th:replace="/fragments/nav.html :: fragment-adminNav"></div>
  <!--  컨텐츠 시작-->
  <div class="content" style="width:100%">
    <div style="width:100%" >
      <h3 class="sub-title"> 주문목록</h3>
<!-- http://localhost:8080/admin/order/list?dateStart=2023-02-07&dateEnd=2023-02-14&page=0&findBy=all&keyword= -->
<!--      http://localhost:8080/admin/order/list?dateStart=&dateEnd=&findBy=type&keyword=미입금/주문완료&page=0 -->
      <!-- 검색 시작 -->
      <div class="mb-2"> <!-- 카테고리 시작 -->
        <a href="/admin/order/list?page=0" class="btn btn-outline-secondary">전체보기</a>
        <a href="/admin/order/list?dateStart=&dateEnd=&findBy=type&keyword=미입금/주문완료&page=0" class="btn btn-outline-secondary">미입금/주문완료</a>
        <a href="/admin/order/list?dateStart=&dateEnd=&findBy=type&keyword=배송대기&page=0" class="btn btn-outline-secondary">배송대기</a>
        <a href="/admin/order/list?dateStart=&dateEnd=&findBy=type&keyword=배송중&page=0" class="btn btn-outline-secondary">배송중</a>
        <a href="/admin/order/list?dateStart=&dateEnd=&findBy=type&keyword=배송완료&page=0" class="btn btn-outline-secondary">배송완료</a>
        <a href="/admin/order/list?dateStart=&dateEnd=&findBy=type&keyword=취소/반품/교환&page=0" class="btn btn-outline-secondary">취소/반품/교환</a>
      </div> <!-- 카테고리 끝 -->

        <table class="table table-striped table-bordered" >
          <form  action="/admin/order/list" method="GET" class="row align-items-center" >
          <tr>
            <th style="text-align: center;">기간</th>
            <td>
              <input type="date" name="dateStart" value="" />~
              <input type="date" name="dateEnd" value="" />
              <a href="/admin/order/list?dateStart=today&dateEnd=&findBy=type&keyword=&page=0" class="btn btn-outline-secondary">오늘</a>
              <a href="/admin/order/list?dateStart=yesterday&dateEnd=&findBy=type&keyword=&page=0" class="btn btn-outline-secondary">어제</a>
              <a href="/admin/order/list?dateStart=week&dateEnd=&findBy=type&keyword=&page=0" class="btn btn-outline-secondary">1주일</a>
              <a href="/admin/order/list?dateStart=month&dateEnd=&findBy=type&keyword=&page=0" class="btn btn-outline-secondary">1개월</a>
            </td>
          </tr>
            <input type="hidden" name="page" value="0">
            <th style="text-align: center;">검색조건</th>
            <td>
              <select name="findBy">
                <option value="all" selected="selected">전체</option>
                <option value="orderName" >주문자명</option>
                <option value="orderNo" >주문번호</option>
                <option value="orderPhone" >전화번호</option>
              </select>
              <input name="keyword" >
              <button type="submit" class="btn btn-secondary">검색</button>
            </td>
          </tr>
          </form>
        </table>

      <!-- 검색 끝 -->

      <div class="countItem">
        <div>
          <span>총 주문수 : </span>
          <strong th:text="${ listCount }">5</strong>
        </div>
        <div></div>
      </div>

      <form action="/admin/order/status/modify" method="post">
        <table class="table table-striped table-bordered" style="text-align: center;">
          <thead class="thead-strong">

          <tr>
            <td><input type="checkbox"></td>
            <th>주문일</th>
            <th>주문번호</th>
            <th>주문자명</th>
            <th>결제방법</th>
            <th>결제금액</th>
            <th>주문상태</th>
            <th>기능</th>
          </tr>
          </thead>
          <tbody id="tbody">
          <tr th:each="dto:${ list }">
            <td><input type="checkbox"></td>
            <td th:text="${#temporals.format(dto.orderDatetime, 'yyyy-MM-dd HH:mm')}">주문일</td>
            <td>
              <a th:href="|/admin/order/content?orderNo=${dto.orderNo}|" th:text="${ dto.orderNo }"11
                 style="text-decoration: none;color: black;">주문번호</a>
            </td>
            <td th:text="${ dto.orderName }">주문자명</td>
            <td th:text="${ dto.orderPayType }">주문방법</td>
            <td th:text="${ dto.orderTotalPrice }">주문금액</td>
            <td>
              <select name="orderState">
                <option selected="selected" th:text="${ dto.orderState }" th:value="${ dto.orderState }" value="">주문상태</option>
                <option value="미입금/주문완료">미입금/주문완료</option>
                <option value="배송대기">배송대기</option>
                <option value="배송중">배송중</option>
                <option value="배송완료">배송완료</option>
                <option value="취소/반품/교환">취소/반품/교환</option>
              </select>
            </td>
            <td style="text-align: center;">
              <input th:value="${ dto.orderNo }" type="hidden" name="orderNo">
              <button type="submit" class="btn btn-danger" > 적용</button>
              <a th:href="|/admin/order/content?orderNo=${dto.orderNo}|" class="btn btn-secondary">상세보기</a>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>

    <!-- 페이지 네비게이션 -->
    <div class="container"> <!-- 페이지 시작 -->
      <div th:if="${!list.isEmpty()}">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${!list.hasPrevious} ? 'disabled'"> <!-- 이전 버튼 시작 -->
            <th:block th:if="${keyword}==null">
              <a class="page-link" th:href="|/admin/order/list?page=${list.number-1}|">
                <span>이전</span>
              </a>
            </th:block>
            <th:block th:unless="${keyword}==null">
              <a class="page-link" th:href="|/admin/order/list?page=${list.number-1}&findBy=${findBy}&keyword=${keyword}|">
                <span>이전</span>
              </a>
            </th:block>
          </li> <!-- 이전 버튼 끝 -->
          <li th:each="page: ${pageList}"
              th:classappend="${page == list.number} ? 'active'"
              class="page-item"> <!-- 숫자 페이지 버튼 시작 -->
            <th:block th:if="${keyword}==null">
              <a th:text="${page+1}" class="page-link" th:href="|/admin/order/list?page=${page}|"></a>
            </th:block>
            <th:block th:unless="${keyword}==null">
              <a th:text="${page+1}" class="page-link"
                 th:href="|/admin/order/list?page=${page}&findBy=${findBy}&keyword=${keyword}|"></a>
            </th:block>
          </li> <!-- 숫자 페이지 버튼 끝 -->
          <li class="page-item" th:classappend="${!list.hasNext} ? 'disabled'"> <!-- 다음 버튼 시작 -->
            <th:block th:if="${keyword}==null">
              <a class="page-link" th:href="|/admin/order/list?page=${list.number+1}|">
                <span>다음</span>
              </a>
            </th:block>
            <th:block th:unless="${keyword}==null">
              <a class="page-link" th:href="|/admin/order/list?page=${list.number+1}&findBy=${findBy}&keyword=${keyword}|">
                <span>다음</span>
              </a>
            </th:block>
          </li> <!-- 다음 버튼 끝 -->
        </ul>
      </div>
    </div> <!-- 페이지 끝 -->


  </div> <!-- content 끝 -->
  </div>
  <!--  컨텐츠 끝-->
</div>

<!-- wrap -->

</body>

</html>



