<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="container-shopping-basket-cart">
    <div class="page-hd">
        <div class="basket-hd txt-c">
            <div class="basket-hd-cbx">
                <!-- 체크박스 -->
                <input type="checkbox" id="checkBoxAll" onchange="checkBoxAll();" checked />
                <div>전체</div>
                <div class="red2 bold" id="countSelected" th:text=${#lists.size(cartList)}></div>
            </div>
            <div>장바구니</div>
            <!-- 휴지통이미지 -->
            <div class="trash-box">
                <form action="/order/deleteAction" method="POST" onsubmit="deleteAll();">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <input id="trashCan" type="hidden" th:name="cartNoList">
                    <button class="btn-nodesign">
                        <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/btn/h34_waste.png" alt=""/>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- 구분선 빈박스 -->
    <th:block th:each="cart, status:${cartList}">
        <div class="bg-blank"></div>
        <div class="prd-info MSH-prd-info-19520">
            <input th:id="|checkBox${cart.cartNo}|" name="checkBox" type="checkbox" th:onchange="checkBox([[${cart.cartNo}]]);" checked/>
            <div class="cart-info">
                <div class="bsk-info">
                    <!-- 상품이미지 -->
                    <a href="product-top1.html" class="product-a">
                        <img th:src="${itemList[status.index].itemImageUrl}" alt="" class="product-img"/>
                    </a>
                    <!-- 네임에 릴레이티브주고 엑스, 공유로고 엡솔예정 -->
                    <div class="name bold mgl20" th:text="${cart.itemName}">상품명</div>
                    <!-- 엑스 -->
                    <div>
                        <form action="/order/deleteAction" method="POST">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                            <input type="hidden" th:with="cartNoList=${{cart.cartNo}}" th:name="cartNoList" th:value="${cartNoList}">
                            <button class="btn-nodesign">
                                <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/btn/h22_delete.png" alt="" class="delete-img"/>
                            </button>
                        </form>
                    </div>
                    <!-- 공유 -->
                    <button class="show-share-list" id="bsk-info-sharebtn">
                        <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/btn/h26_share.gif" alt="" class="share-img"/>
                    </button>
                    <!-- 공유하기 버튼 팝업 -->
                    <div th:replace="/user/order-object/container-shopping-basket-share.html :: container-shopping-basket-share"></div>
                </div>
                <div th:replace="/user/order-object/container-shopping-basket-option.html :: container-shopping-basket-option"></div>
            </div>
        </div>
    </th:block>
    <!-- 구분선 빈박스 -->
    <div class="bg-blank"></div>
</th:block>
</html>
