<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="container-order-complete">
  <div class="basket-hd txt-c">
    <div>주문완료</div>
  </div>
  <!-- 구분선 -->
  <div class="bg-blank"></div>
  <!-- con -->
  <div class="order-finish">
    <div class="order-finish-tit">
      <!-- 체크이미지 -->
      <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/bg_completed.png" alt=""/>
      <div class="fs-21 bold">주문이 확인 되었습니다.</div>
    </div>
    <!-- 점선 -->
    <div class="info-wrap">
      <div class="info-wrap-inner">
        <div class="info-wrap-tit">주문번호</div>
        <div class="row-reverse info-wrap-con bold" th:text="${order.orderCode}"></div>
      </div>
      <div class="info-wrap-inner">
        <div class="info-wrap-tit">배송지정보</div>
        <div>
          <div class="row-reverse info-wrap-con">
            <span th:text="${order.orderRecipientPhone}">수령자 전화번호</span>,&nbsp;
            <span th:text="${order.orderRecipientName}">수령자 이름</span>
          </div>
          <div class="row-reverse info-wrap-con">
            <span th:text="${order.orderRecipientAddr2}">상세주소</span>&nbsp;
            <span th:text="${order.orderRecipientAddr1}">기본주소</span>&nbsp;
            <span th:text="${order.orderRecipientAddrNumber}">우편번호</span>&nbsp;
          </div>
        </div>
      </div>
      <div class="info-wrap-inner">
        <div class="info-wrap-tit">결제정보</div>
        <div class="row-reverse info-wrap-con">
          <span th:text="${order.orderPayType}">결제정보</span>
        </div>
      </div>
    </div>
  </div>
  <div class="pay-price">
    <div class="pay-price-tit">결제금액</div>
    <div class="pay-price-con">
      <span class="price" th:text="${#numbers.formatInteger(order.orderTotalPrice, 3, 'COMMA') + '원'}">금액</span>
    </div>
  </div>
  <div class="btn-wrap">
    <a href="/myorder" class="btn-h43-gray2" sec:authorize="isAnonymous()">구매내역보기</a>
    <a href="/myorder/lists" class="btn-h43-gray2" sec:authorize="isAuthenticated()">구매내역보기</a>
    <a href="/" class="btn-h43-black">홈 화면 이동</a>
  </div>
</th:block>
</html>