<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이소호 샘플샵</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/QnA.css" />
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<div class="wrap" >
    <div class="betweenbtn">
        <div th:replace="fragments/betweenbtn.html :: fragment-betweenbtn"></div>
    </div>
    <div class="betweenbtn2">
        <div th:replace="fragments/betweenbtn2.html :: fragment-betweenbtn2"></div>
    </div>
    <div class="header">
        <div th:replace="fragments/header.html :: fragment-header"></div>
    </div>

    <!-- QnA -->
    <div class="container-QnA">

        <!-- 제목 -->
        <div class="users-title-line-hd">
            <h2>Q&A 게시판</h2>
        </div>

        <!-- 검색하기 -->
        <div class="schBox" th:unless="${keyword} == null and ${listCount} == 0">
            <form name="searchForm" method="GET" action="/qna" >
                <a href="javascript:history.back();" class="btnHback"></a>
                <input type="text" name="keyword" id="titleKeyword" th:value="${keyword}" placeholder="검색어를 입력해 주세요"/>
                <span class="inputDel" id="inputDel" onclick="deleteKeyword()"></span>
                <button type="button" class="btnHsch" onclick="checkKeyword()">검색</button>
            </form>
        </div>

        <!-- 검색 결과 -->
        <div class="txtResult" th:if="${keyword} != null">
            <strong th:text="${ (keyword)+' 검색결과 : '+(listCount)+' 건' }"></strong>
        </div>

        <!--  문의 작성 -->
        <div class="btnBwrite js-btnMoveWritePage" th:if="${keyword} == null">
            <th:block sec:authorize="isAuthenticated()">
                <a th:href="|javascript:openPopUpQnaWrite()|">
                    <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/btn/bg_ico_write.png" alt=""/>
                    <strong> 문의작성</strong>
                </a>
            </th:block>
            <th:block sec:authorize="isAnonymous()">
                <a th:href="|javascript:openPopUpQnaWriteGuest()|">
                    <img src="https://image.makeshop.co.kr/mysoho/assets/shop/img/btn/bg_ico_write.png" alt=""/>
                    <strong> 문의작성</strong>
                </a>
            </th:block>
        </div>
        <h6 th:if="${keyword} == null">답변완료는 수정에서 확인 가능합니다.</h6>

        <!-- 검색 결과가 없을 때 -->
        <div class="listResult" th:if="${keyword} != null and ${listCount} == 0">
            <ul>
                <li class="noData">
                    <strong th:text="${ (keyword)}"></strong>에 대한 검색결과가 없습니다.<br>철자나 띄어쓰기를 확인해보세요.
                </li>
            </ul>
        </div>

        <!-- 글이 없을 때 -->
        <div class="listResult" th:if="${keyword} == null and ${listCount} == 0">
            <ul>
                <li class="noData">
                    등록된 QnA가 없습니다.
                </li>
            </ul>
        </div>

        <div id="searchForm" >
            <div id="inquiryTab" class="tab-cont" th:each="qna,status:${list}">
                <!--  로그인일떄       -->
                <th:block th:if="${qna.memberId}!=null">
                    <!--비공개글일떄-->
                    <th:block th:if="${qna.qnaSecret}=='비공개'">
                        <div class="qa-list-wrap js-qnasArea">
                            <a href="" class="js-qnasArea qna-board-list">
                                <!-- 답변이 있을 때-->
                                <th:block th:if="${qnaCommentCount[status.index]} == 0">
                                    <div class="qa-list-icon" >
                                        답변
                                        <br />
                                        대기
                                    </div>
                                </th:block>
                                <!--  답변이 없을 때-->
                                <th:block th:unless="${qnaCommentCount[status.index]} == 0">
                                    <div class="qa-list-icon background-green">
                                        답변
                                        <br />
                                        완료
                                    </div>
                                </th:block>
                                <div class="tit-wrap js-qna">
                                    <div>
                                        <th:block th:if="${memberId} == ${qna.memberId}">
                                <span class="tit js-qnaContents txt_ellipsis" th:text="${qna.qnaContent}">
                                비밀글입니다.
                    </span>
                                        </th:block>
                                        <th:block th:unless="${memberId} ==${qna.memberId}">
                                        <span class="tit js-qnaContents" >
                                비밀글입니다.
                                <img
                                        src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_qa_lock.png"
                                        alt=""
                                        onclick="alert('작성자만 확인할 수 있습니다.')"
                                />
                    </span>
                                        </th:block>

                                        <div class="qna-info">
                                            <div class="dil js-qnaType bar" th:text="${qna.qnaCategory}">상품</div>
                                            <div class="name js-qnaWriter bar" th:text="${namelist[status.index]}">dl******...</div>
                                            <div class="date js-qnaDate" th:text="${#temporals.format(qna.qnaDate, 'yyyy.MM.dd')}">2022.04.11</div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                            <th:block th:if="${memberId} == ${qna.memberId}">
                                <a th:href="|javascript:sortSelect(${status.count})|" class="threedot"
                                ><img
                                        src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_review_md.png"
                                        alt=""
                                /></a>
                                <ul class="sort" th:id="|sort${status.count}|">
                                    <li th:id="|onCheckDiv${status.count}|">
                                        <a th:href="|javascript:openPopUpQnaModify(${qna.qnaId})|">수정</a>
                                    </li>
                                    <li>
                                        <form action="#" th:action="@{/qna/delete/{id}(id=${qna.qnaId})}" method="get" id="deleteBtn">
                                            <button type="button" th:onclick="|javascript:checkDelete()|">삭제</button>
                                        </form>
                                    </li>

                                </ul>
                            </th:block>
                            <th:block th:unless="${memberId} == ${qna.memberId}">
                            </th:block>
                        </div>

                        <th:block sec:authorize="isAnonymous()">
                            <div class="CheckDiv" th:id="|CheckDiv${status.count}|" style="display:none;">
                                <form action="/qna/pw/check/action" method="post" class="pwCheckForm">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input type="hidden" th:value="${qna.qnaId}" name="qnaId"/>
                                    <input type="password" placeholder="비밀번호를 입력하세요." class="pwCheckInput" name="qnaPassword">
                                    <button type="submit" class="checkBtn">확인</button>
                                </form>
                            </div>
                            <!--                    추가-->
                            <div class="CheckDiv2" th:id="|CheckDiv2${status.count}|" style="display:none;">
                                <form action="/qna/pw/check/action2" method="post" class="pwCheckForm">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input type="hidden" th:value="${qna.qnaId}" name="qnaId"/>
                                    <input type="password" placeholder="비밀번호를 입력하세요." class="pwCheckInput" name="qnaPassword">
                                    <button type="submit" class="checkBtn">확인</button>
                                </form>
                            </div>
                        </th:block>
                        <!--                    추가-->
                    </th:block>

                    <!--로그인일때-->
                    <!-- 공개글 -->
                    <th:block th:unless="${qna.qnaSecret}=='비공개'">
                        <div class="qa-list-wrap js-qnasArea">
                            <a href="" class="js-qnasArea qna-board-list">
                                <th:block th:if="${qnaCommentCount[status.index]} == 0">
                                    <div class="qa-list-icon">
                                        답변
                                        <br />
                                        대기
                                    </div>
                                </th:block>
                                <th:block th:unless="${qnaCommentCount[status.index]} == 0">
                                    <div class="qa-list-icon background-green">
                                        답변
                                        <br />
                                        완료
                                    </div>
                                </th:block>
                                <div class="tit-wrap js-qna">
                                    <div>
                <span class="tit js-qnaContents txt_ellipsis" th:text="${qna.qnaContent}">
                문의합니다.
    </span>
                                        <div class="qna-info">
                                            <div class="dil js-qnaType bar" th:text="${qna.qnaCategory}">상품</div>
                                            <div class="name js-qnaWriter bar"  th:text="${namelist[status.index]}">dl******...</div>
                                            <div class="date js-qnaDate" th:text="${#temporals.format(qna.qnaDate, 'yyyy.MM.dd')}">2022.04.11</div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                            <th:block th:if="${memberId} == ${qna.memberId}">
                                <a th:href="|javascript:sortSelect(${status.count})|" class="threedot">
                                    <img
                                            src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_review_md.png"
                                            alt=""/>
                                </a>
                                <ul class="sort" th:id="|sort${status.count}|">
                                    <li>
                                        <a th:href="|javascript:openPopUpQnaModify(${qna.qnaId})|">수정</a>
                                    <li>
                                        <form action="#" th:action="@{/qna/delete/{id}(id=${qna.qnaId})}" method="get" id="deleteBtn">
                                            <button type="button" th:onclick="|javascript:checkDelete()|">삭제</button>
                                        </form>
                                    </li>
                                </ul>
                            </th:block>
                            <th:block th:unless="${memberId} == ${qna.memberId}">
                            </th:block>
                        </div>

                        <th:block sec:authorize="isAnonymous()">
                            <div class="CheckDiv" th:id="|CheckDiv${status.count}|" style="display:none;">
                                <form action="/qna/pw/check/action/guest" method="post" class="pwCheckForm">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input type="hidden" th:value="${qna.qnaId}" name="qnaId"/>
                                    <input type="password" placeholder="비밀번호를 입력하세요." class="pwCheckInput" name="qnaPassword">
                                    <button type="submit" class="checkBtn">확인</button>
                                </form>
                            </div>
                            <div class="CheckDiv2" th:id="|CheckDiv2${status.count}|" style="display:none;">
                                <form action="/qna/pw/check/action2/guest" method="post" class="pwCheckForm">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input type="hidden" th:value="${qna.qnaId}" name="qnaId"/>
                                    <input type="password" placeholder="비밀번호를 입력하세요." class="pwCheckInput" name="qnaPassword">
                                    <button type="submit"class="checkBtn">확인</button>
                                </form>
                            </div>
                        </th:block>
                    </th:block>
                    </form>
                </th:block>

                <!-- 비로그인일때-->
                <th:block th:unless="${qna.memberId}!=null">
                    <!--비공개글-->
                    <th:block th:if="${qna.qnaSecret}=='비공개'">
                        <div class="qa-list-wrap js-qnasArea">
                            <a href="" class="js-qnasArea qna-board-list">
                                <!-- 답변이 있을 때-->
                                <th:block th:if="${qnaCommentCount[status.index]} == 0">
                                    <div class="qa-list-icon" >
                                        답변
                                        <br />
                                        대기
                                    </div>
                                </th:block>
                                <!--  답변이 없을 때-->
                                <th:block th:unless="${qnaCommentCount[status.index]} == 0">
                                    <div class="qa-list-icon background-green">
                                        답변
                                        <br />
                                        완료
                                    </div>
                                </th:block>
                                <div class="tit-wrap js-qna">
                                    <div>

                                        <span class="tit js-qnaContents" >
                                비밀글입니다.
                                  <img
                                          src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_qa_lock.png"
                                          alt=""
                                          onclick="alert('작성자만 확인할 수 있습니다.')"
                                  />
                    </span>


                                        <div class="qna-info">
                                            <div class="dil js-qnaType bar" th:text="${qna.qnaCategory}">상품</div>
                                            <div class="name js-qnaWriter bar" th:text="${namelist[status.index]}">dl******...</div>
                                            <div class="date js-qnaDate" th:text="${#temporals.format(qna.qnaDate, 'yyyy.MM.dd')}">2022.04.11</div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                            <th:block th:if="${memberId} == ${qna.memberId}">
                                <a th:href="|javascript:sortSelect(${status.count})|" class="threedot"
                                ><img
                                        src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_review_md.png"
                                        alt=""
                                /></a>
                                <ul class="sort" th:id="|sort${status.count}|">
                                    <li th:id="|onCheckDiv${status.count}|">
                                        <a th:href="|javascript:onCheckDiv(${status.count})|" >수정</a>
                                    <li><a th:href="|javascript:onCheckDiv2(${status.count})|">삭제</a></li>
                                </ul>
                            </th:block>
                            <th:block th:unless="${memberId} == ${qna.memberId}">
                            </th:block>
                        </div>

                        <th:block sec:authorize="isAnonymous()">
                            <div class="CheckDiv" th:id="|CheckDiv${status.count}|" style="display:none;">
                                <form action="/qna/pw/check/action/guest" method="post" class="pwCheckForm" >
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input type="hidden" th:value="${qna.qnaId}" name="qnaId"/>
                                    <input type="password" placeholder="비밀번호를 입력하세요." class="pwCheckInput" name="qnaPassword">
                                    <button type="submit" class="checkBtn">확인</button>
                                </form>
                            </div>
                            <!--                    추가-->
                            <div class="CheckDiv2" th:id="|CheckDiv2${status.count}|" style="display:none;">
                                <form action="/qna/pw/check/action2/guest" method="post" class="pwCheckForm">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input type="hidden" th:value="${qna.qnaId}" name="qnaId"/>
                                    <input type="password" placeholder="비밀번호를 입력하세요." class="pwCheckInput" name="qnaPassword">
                                    <button type="submit" class="checkBtn">확인</button>
                                </form>
                            </div>
                        </th:block>
                        <!--                    추가-->
                    </th:block>

                    <!-- 공개글 -->
                    <th:block th:unless="${qna.qnaSecret}=='비공개'">
                        <div class="qa-list-wrap js-qnasArea">
                            <a href="" class="js-qnasArea qna-board-list">
                                <th:block th:if="${qnaCommentCount[status.index]} == 0">
                                    <div class="qa-list-icon">
                                        답변
                                        <br />
                                        대기
                                    </div>
                                </th:block>
                                <th:block th:unless="${qnaCommentCount[status.index]} == 0">
                                    <div class="qa-list-icon background-green">
                                        답변
                                        <br />
                                        완료
                                    </div>
                                </th:block>
                                <div class="tit-wrap js-qna">
                                    <div>
                <span class="tit js-qnaContents txt_ellipsis" th:text="${qna.qnaContent}">
                문의합니다.
    </span>
                                        <div class="qna-info">
                                            <div class="dil js-qnaType bar" th:text="${qna.qnaCategory}">상품</div>
                                            <div class="name js-qnaWriter bar"  th:text="${namelist[status.index]}">dl******...</div>
                                            <div class="date js-qnaDate" th:text="${#temporals.format(qna.qnaDate, 'yyyy.MM.dd')}">2022.04.11</div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                            <th:block th:if="${memberId} == ${qna.memberId}">
                                <a th:href="|javascript:sortSelect(${status.count})|" class="threedot">
                                    <img
                                            src="https://image.makeshop.co.kr/mysoho/assets/shop/img/common/ico_review_md.png"
                                            alt=""/>
                                </a>
                                <ul class="sort" th:id="|sort${status.count}|">
                                    <li>
                                        <a th:href="|javascript:onCheckDiv(${status.count})|" >수정</a></li>
                                    <li><a th:href="|javascript:onCheckDiv2(${status.count})|">삭제</a></li>
                                </ul>
                            </th:block>
                            <th:block th:unless="${memberId} == ${qna.memberId}">
                            </th:block>
                        </div>

                        <th:block sec:authorize="isAnonymous()">
                            <div class="CheckDiv" th:id="|CheckDiv${status.count}|" style="display:none;">
                                <form action="qna/pw/check/action/guest" method="post" class="pwCheckForm">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input type="hidden" th:value="${qna.qnaId}" name="qnaId"/>
                                    <!--                                    <input type="hidden" th:value="${qna.memberId}" name="memberId"/>-->
                                    <input type="password" placeholder="비밀번호를 입력하세요." class="pwCheckInput" name="qnaPassword">
                                    <button class="checkBtn">확인</button>
                                </form>
                            </div>
                            <div class="CheckDiv2" th:id="|CheckDiv2${status.count}|" style="display:none;">
                                <form action="qna/pw/check/action2/guest" method="post" class="pwCheckForm">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <input type="hidden" th:value="${qna.qnaId}" name="qnaId"/>
                                    <!--                                    <input type="hidden" th:value="${qna.memberId}" name="memberId"/>-->
                                    <input type="password" placeholder="비밀번호를 입력하세요." class="pwCheckInput" name="qnaPassword">
                                    <button class="checkBtn">확인</button>
                                </form>
                            </div>
                        </th:block>
                    </th:block>
                    </form>
                </th:block>

            </div>
        </div>
    </div>

</div>
<!-- 푸터 -->
<div class="footer">
    <div th:replace="fragments/footer.html :: fragment-footer"></div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"
></script>
<script src="/js/header.js"></script>
<script src="/js/footer.js"></script>
<script src="/js/popup.js"></script>
<script>
function sortSelect( count ) {

  if (document.querySelector("#sort"+count).style.display === "block") {
    document.querySelector("#sort"+count).style.display = "none";
  } else {
    document.querySelector("#sort"+count).style.display = "block";
  }
}

function onCheckDiv( number ) {

  if (document.querySelector("#CheckDiv"+number).style.display === "none") {
    document.querySelector("#CheckDiv"+number).style.display = "block";
  } else {
    document.querySelector("#CheckDiv"+number).style.display = "none";
  }
}

function onCheckDiv2( number ) {

  if (document.querySelector("#CheckDiv2"+number).style.display === "none") {
    document.querySelector("#CheckDiv2"+number).style.display = "block";
  } else {
    document.querySelector("#CheckDiv2"+number).style.display = "none";
  }
}

function checkDelete() {
  let form =  document.querySelector('#deleteBtn');
  if (confirm("해당 Q&A를 삭제하겠습니까? 삭제 후 복구가 불가능합니다.")) {
    form.submit();
  } else {
    return false;
  }
}

function openPopUpQnaWrite() {
  location.href = "/qna/writeForm?reference=/qna";
  // popup = window.open("/qna/writeForm");
}

function openPopUpQnaWriteGuest() {
  location.href = "/qna/writeFormGuest?reference=/qna";
  // popup = window.open("/qna/writeFormGuest");
}

function openPopUpQnaModify(qnaId) {
  location.href = "/qna/modifyForm/"+qnaId+"?reference=/qna";
  // popup = window.open("/qna/modifyForm/"+qnaId);
}

function deleteKeyword(){
  document.querySelector("#titleKeyword").value = "";
}

function checkKeyword(){
  let searchForm = document.searchForm;
  let keyword =  document.querySelector("#titleKeyword")
  if (keyword.value == "" || keyword.value == null){
    alert("검색어를 입력해 주세요");
  }else{
    searchForm.submit();
  }
}
</script>
</body>
</html>
